<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="Log4j1">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %-5p %X{request.project}[%t] %c{2} : %mask{%m}%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="stdout"/>
        </Root>
        <Logger name="io.kyligence" level="DEBUG"/>
        <Logger name="org.springframework" level="WARN"/>
        <Logger name="org.apache.kylin" level="DEBUG"/>
        <Logger name="org.apache.kylin.metadata.cube.cuboid.NQueryLayoutChooser" level="INFO"/>
        <Logger name="org.apache.spark.ui" level="WARN"/>
        <Logger name="org.apache.spark.sql.execution.ui" level="WARN"/>
        <Logger name="org.springframework.security" level="INFO"/>
        <Logger name="org.apache.spark.ContextCleaner" level="WARN"/>
        <Logger name="org.apache.kylin.ext" level="INFO"/>
    </Loggers>
</Configuration>
