{
  "name": "kylin",
    "service": {
        "base": "/kylin/",
        "url": "/kylin/api/"
    },
  "default": {
    "displayCount" : 5,
    "modalAnimateIn" : "fadeInRight",
    "modalAnimateOut" : "fadeOutRight"
  },
  "documents": [
      {"name":"start", "displayName":"Getting Started", "link": null},
      {"name":"odbc", "displayName":"ODBC Driver", "link": null},
      {"name":"tableau", "displayName":"Tableau Guide", "link": null},
      {"name":"onboard", "displayName":"Cube Design Tutorial", "link": null}
  ],
  "reference_links" : {
      "hadoop": {"name":"hadoop", "link": null},
      "diagnostic": {"name":"diagnostic", "link": null}
  },
  "version": "1.0.10"
}