<div class="row" ng-controller="CubeDimensionsCtrl">
    <div class="col-xs-3">
        <div class="box box-solid">
            <div class="box-header"><h4>Columns</h4></div>
            <div class="box-body">
                <ul class="list-unstyled columns-region">
                    <li ng-repeat="(table, cols) in availableColumns">
                        <h5 class="table-name-underline">
                            <b>{{table}}</b>{{$index == 0 ? ' [Fact Table]' : ' [Lookup Table]'}}
                        </h5>
                        <ul class="list-unstyled">
                            <li ng-repeat="col in cols track by col.table + '.' + col.name">
                                <label>
                                    <input type="checkbox" ng-model="selectedColumns[table][col.name].selected"
                                            ng-disabled="selectedColumns[table][col.name].disabled">
                                    {{col.name}}
                                </label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="space-32"></div>
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-default btn-sm"
                    ng-click="addDim('normal')" ng-disabled="!canAddDimension('normal')">
                <i class="ace-icon fa fa-arrow-right"></i> Normal
            </button>
            <button type="button" class="btn btn-default btn-sm"
                    ng-click="addDim('hierarchy')" ng-disabled="!canAddDimension('hierarchy')">
                <i class="ace-icon fa fa-arrow-right"></i> Hierarchy
            </button>
            <button type="button" class="btn btn-default btn-sm"
                    ng-click="addDim('derived')" ng-disabled="!canAddDimension('derived')">
                <i class="ace-icon fa fa-arrow-right"></i> Derived
            </button>
        </div>

        <div class="space-16"></div>
        <div ng-if="currentSelectedTables.length > 1" class="callout callout-danger">Only one table allowed each time!</div>

        <div class="space-16"></div>
        <button type="button" class="btn btn-default btn-sm"
                ng-click="removeDim()" ng-disabled="!newDimensionOption.hasOwnProperty('name')">
            <i class="ace-icon fa fa-arrow-left"></i> Remove
        </button>
    </div>
    <div class="col-xs-3">
        <div class="box box-solid">
            <div class="box-header"><h4>Dimensions</h4></div>
            <div class="box-body">
                <ul class="list-unstyled dimensions-region">
                    <li ng-repeat="dim in cubeMetaFrame.dimensions track by $index" ng-click="switchDim(dim)" ng-class="{active: dim == newDimensionOption}">
                        {{dim.name ? dim.name : '...'}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-4 dimension-options-animate" ng-show="newDimensionOption.hasOwnProperty('name')">
        <div class="box box-solid">
            <div class="box-header">
                <h4>Dimensions Options
                    <small class="badge bg-light-blue pull-right" ng-repeat="t in newDimensionOptionType">{{t}}</small>
                </h4>
            </div>
            <div class="box-body">
                <!-- include options template -->
                <div ng-include="'partials/cubeDesigner/dimension_options.html'"></div>
            </div>
        </div>
    </div>
</div>
