<div class="row" ng-init="dumpColumns();">
    <div class="col-xs-3">
        <h4>Columns</h4>
        <select multiple ng-model="selectedColumns.available"
                ng-options="col.name group by col.table for col in availableColumns track by col.table + '.' + col.name"
                class="form-control" style="min-height: 200px;">
        </select>
    </div>
    <div class="col-xs-1">
        <div class="space-32"></div>
        <button type="button" class="btn btn-default btn-sm"
                ng-click="addDim()" ng-disabled="selectedColumns.available.length == 0">
            <i class="ace-icon fa fa-arrow-right"></i>
        </button>
        <div class="space-32"></div>
        <button type="button" class="btn btn-default btn-sm"
                ng-click="removeDim()" ng-disabled="selectedColumns.chosen.length == 0">
            <i class="ace-icon fa fa-arrow-left"></i>
        </button>
    </div>
    <div class="col-xs-3">
        <h4>Dimension Columns</h4>
        <select multiple ng-model="selectedColumns.chosen" ng-change="switchDimOptions()"
                ng-options="col.table + '.' + col.name for col in chosenColumns track by col.table + '.' + col.name"
                class="form-control" style="min-height: 200px;">
        </select>

        {{selectedColumns.chosen | json}}
    </div>
    <div class="col-xs-5 dimension-options-animate" ng-show="selectedColumns.chosen.length > 0">
        <h4>Advanced Dimension Options</h4>
        <!-- include options template -->
        <div ng-include="'partials/cubeDesigner/dimension_options.html'"></div>
    </div>
</div>
<button type="button" class="btn btn-default" ng-click="dimensionsAdapter();">Test Dimensions</button>
