<ng-form name="dim_options_form">
<!-- dimension name -->
<div class="form-group">
    <div class="row">
        <label class="col-xs-12 col-sm-3 control-label no-padding-right font-color-default">Name</label>
        <div class="col-xs-12 col-sm-9">
            <input type="text" placeholder="Name.." class="form-control" name="dim_name"
                   tooltip="dimension name.." tooltip-trigger="focus"
                   ng-model="newDimensionOption.name" required ng-if="state.mode=='edit'" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="text-warning" ng-if="dim_options_form.dim_name.$error.required && dim_options_form.dim_name.$dirty">
                The Dimension Name is required.
            </div>
        </div>
    </div>
</div>

<!-- table -->
<div class="form-group">
    <div class="row">
        <label class="col-xs-12 col-sm-3 control-label no-padding-right font-color-default">Table</label>
        <div class="col-xs-12 col-sm-9">
            <span>{{newDimensionOption.table}}</span>
        </div>
    </div>
</div>

<!-- Normal Dimension -->
<div class="form-group" ng-if="!newDimensionOption.derived && !newDimensionOption.hierarchy">
    <div class="row">
        <label class="col-xs-12 col-sm-3 control-label no-padding-right font-color-default">Column</label>
        <div class="col-xs-12 col-sm-9">
            <span>{{newDimensionOption.column}}</span>
        </div>
    </div>
</div>

<!-- Derived Dimension -->
<div class="box" ng-if="newDimensionOption.derived && newDimensionOption.derived.length" >
    <div class="box-header">
        <h5 class="box-title">Derived Columns</h5>
    </div>
    <div class="box-body no-padding">
        <table class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <th style="width: 10px;">#</th>
                <th>Column</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="dCol in newDimensionOption.derived track by $index">
                <td>{{$index + 1}}</td>
                <td>{{dCol}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Hierarchy Dimension -->
<div id="hierarchyContainer">
<div class="box" ng-if="newDimensionOption.hierarchy && newDimensionOption.hierarchy.length" >
    <div class="box-header">
        <h5 class="box-title">Hierarchy Columns</h5>
    </div>
    <div class="box-body no-padding-top">
        <p class="help-block">Drag level into the order you prefer.</p>
        <!--<div as-sortable="{containment: '#hierarchyContainer'}" ng-model="newDimensionOption.hierarchy">
            <div class="as-sortable-item" ng-repeat="item in newDimensionOption.hierarchy" as-sortable-item>
                <div as-sortable-item-handle class="as-sortable-item-handle">
                    <div class="row">
                        <div class="col-xs-2">
                            <span>{{$index + 1}}</span>
                        </div>
                        <div class="col-xs-10">
                            <span>{{item}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

        <div ui-sortable="{containment: 'parent', placeholder: 'hierarchy-item-placeholder', forcePlaceholderSize: true, opacity: 0.8}"
             ng-model="newDimensionOption.hierarchy" class="hierarchy-container">
            <div ng-repeat="item in newDimensionOption.hierarchy" class="hierarchy-item">
                    <div class="row">
                        <div class="col-xs-2">
                            <span>{{$index + 1}}</span>
                        </div>
                        <div class="col-xs-10">
                            <span>{{item}}</span>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>

</ng-form>
