<div ng-controller="CubeFilterCtrl">
<div class="row">
    <div class="col-xs-8">
        <!--Cube Designer-->
        <div class="form-group" ng-if="state.mode=='edit'"
             style="font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro'">
            <label for="filter_condition"
                   style="color: #930f80;"><b>WHERE</b></label>
            <textarea id="filter_condition" type="text"
                    style="height:150px"
                    class="form-control box-default"
                    placeholder="Please input WHERE clause without typing 'WHERE'"
                    ng-model="metaModel.filter_condition">
            </textarea>
        </div>
        <!--Cube Detail-->
        <div class="form-group row" ng-if="state.mode=='view'"
             style="font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro'">
            <div ng-if="metaModel.filter_condition" class="col-md-11 col-md-offset-1">
                <p style="color: #930f80;"><b>WHERE</b></p>
                <span>{{metaModel.filter_condition}}</span>
            </div>
            <div ng-if="!metaModel.filter_condition" no-result text="No Filter."></div>
        </div>
    </div>

    <!--Tips-->
    <div class="col-xs-4">
        <div class="box box-solid">
            <div class="box-header">
                <h4 class="box-title">Tips</h4>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="text-info">
                            <li>Where clause to filter data from source</li>
                            <li>Do not include date column which will be used for incremental refresh</li>
                            <li>Do not include "Where"</li>
                            <li>Please verify SQL when finish cube design from SQL view of cube</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>