<div class="row">
    <div class="col-xs-8">
        <div class="form-group" ng-if="state.mode=='edit'"
             style="font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro'">
            <label for="filter_condition"
                   style="color: #930f80;"><b>WHERE</b></label>
            <textarea id="filter_condition" type="text"
                      style="height:150px"
                      class="form-control box-default"
                      placeholder="Please input WHERE clause without typing 'WHERE'"
                      ng-model="cubeMetaFrame.filter_condition">
            </textarea>
        </div>
        <div class="form-group" ng-if="state.mode=='view'">
            <div ng-if="cubeMetaFrame.filter_condition">
                <div class="row">
                    <label class="col-xs-12 control-label no-padding-right font-color-default"><b>Condition Filter</b></label>
                </div>
                <span>{{cubeMetaFrame.filter_condition}}</span>
            </div>
            <div ng-if="!cubeMetaFrame.filter_condition" no-result text="No Filter."></div>
        </div>
    </div>

    <!--Tips-->
    <div class="col-xs-4">
        <div class="box box-solid">
            <div class="box-header">
                <h4 class="box-title">Tips</h4>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="text-info">
                            <li>Where clause to filter data from source</li>
                            <li>Do not include date column which will be used for incremental refresh</li>
                            <li>Do not include "Where"</li>
                            <li>Please verify SQL when finish cube design from SQL view of cube</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
