<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div class="row">
    <div class="col-sm-4">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <!--Project Name-->
                    <tr>
                        <th>Model Name</th>
                        <td>{{metaModel.model.name}}</td>
                    </tr>
                    <!--Cube Name-->
                    <tr>
                        <th>Cube Name</th>
                        <td>{{cubeMetaFrame.name}}</td>
                    </tr>
                    <!--Fact Table-->
                    <tr>
                        <th>Fact Table</th>
                        <td>{{metaModel.model.fact_table}}</td>
                    </tr>
                    <!--Lookup Table-->
                    <tr>
                        <th>Lookup Table</th>
                        <td>
                            {{metaModel.model.lookups.length}}
                        </td>
                    </tr>
                    <!--Dimensions-->
                    <tr>
                        <th>Dimensions</th>
                        <td>{{cubeMetaFrame.dimensions.length}}</td>
                    </tr>
                    <!--Measures-->
                    <tr>
                        <th>Measures</th>
                        <td>{{cubeMetaFrame.measures.length}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--Description-->
    <div class="col-sm-6">
        <div class="box box-solid">
            <div class="box-header">
                <h4 class="smaller">
                    Description
                </h4>
            </div>
            <div class="box-body">
                <p class="muted">
                    {{cubeMetaFrame.description}}
                </p>
            </div>
        </div>
    </div>
</div>
