/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.aside {
  height: 100%;
  background-color:#fff;
}

.aside1 {
  background-color: #fff;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
}

.aside1 > .nav > li > a {
  border-radius: 0px;
  color: #454545;
  font-weight: 600;
  font-family: 'Open sans';
  font-size: 15px;
  padding: 10px 10px;
}

.aside1> .nav > li > a:hover {
  color: #000000;
  background-color: #ffffff;
}

.aside1 > .nav-pills>li.active>a ,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus {
  color: #000000;
  background-color: #ffffff;
}

.list-group {
  font-family: 'Open sans';
}


.aside2 {
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
  overflow-x: hidden;
}

.post-title {
  font-family: 'Open sans';
  font-size: 30px;
}

.post-meta {
  font-family: 'Open sans';
}

.post-content {
  font-family: 'Open sans';
}

.post-content> h1  {
  font-family: 'Open sans';
  font-size: 28px;
}

.post-content> h2  {
  font-family: 'Open sans';
  font-size: 24px;
}

.post-content> h3  {
  font-family: 'Open sans';
  font-size: 20px;
}

.post-content> h4  {
  font-family: 'Open sans';
  font-size: 18px;
}

.post-content> h5  {
  font-family: 'Open sans';
  font-size: 16px;
}

.post-content> h6  {
  font-family: 'Open sans';
  font-size: 16px;
  color: #666666;
}


