<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div ng-controller="CubeRefreshCtrl">
<div class="row">
    <div class="col-xs-8">
      <ng-form name="forms.model_setting_form" novalidate>
        <!--Cube Partition Type-->
        <div class="form-group" ng-hide="true">
            <div class="row">
                <label class="control-label col-xs-12 col-sm-3 no-padding-right font-color-default"><b>Partition Type</b></label>
                <div class="col-xs-12 col-sm-6">
                    <select class="form-control"
                        ng-if="state.mode=='edit'"
                        chosen ng-model="model.partition_desc.partition_type"
                        ng-options="ddt as ddt for ddt in cubeConfig.cubePartitionTypes">
                        <option value=""></option>
                    </select>
                    <span ng-if="state.mode=='view'">{{model.partition_desc.partition_type}}</span>
                </div>
            </div>
        </div>

        <!--Partition Column-->
        <div class="form-group">
            <div class="row">
                <label class="control-label col-xs-12 col-sm-3 no-padding-right font-color-default"><b>Partition Date Column</b></label>
                <div class="col-xs-12 col-sm-6" ng-class="model.partition_desc.partition_date_column==null&& model.partition_desc.partition_date_start!=null?'has-error':''">

                    <select style="width: 100%" chosen data-placeholder="e.g. DEFAULT.TEST_KYLIN_FACT.CAL_DT"
                            ng-model="model.partition_desc.partition_date_column"
                            ng-if="state.mode=='edit'"
                            data-placement=""
                            ng-options="model.fact_table+'.'+columns.name as model.fact_table+'.'+columns.name for columns in getPartitonColumns(model.fact_table)" >
                        <option value="">--Select Partition Column--</option>
                    </select>
                    <small class="help-block" ng-show="model.partition_desc.partition_date_column==null&& model.partition_desc.partition_date_start!=null">Please select your partitoin date column.</small>
                    <p class="text-red"  ng-if="state.mode=='edit'">(data format in column should be 'YYYY-MM-DD')</p>

                    <span ng-if="state.mode=='view'">
                        {{!!(model.partition_desc.partition_date_column)?model.partition_desc.partition_date_column: ''}}</span>
                </div>
            </div>
        </div>

        <!--Data Range Start-->
        <div class="form-group">
            <div class="row">
                <label class="control-label col-xs-12 col-sm-3 no-padding-right font-color-default"><b>Start Date</b></label>
                <div class="col-xs-12 col-sm-6" ng-class="model.partition_desc.partition_date_column!=null&& model.partition_desc.partition_date_start==null?'has-error':''">
                  <!--edit model will convert in MetaModel.converDateToGMT-->
                    <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd"
                           ng-model="model.partition_desc.partition_date_start" ng-if="state.mode=='edit'"
                           placeholder="Click to choose start date..." is-open="opened" />
                    <small class="help-block" ng-show="model.partition_desc.partition_date_column!=null&& model.partition_desc.partition_date_start==null">Please input start date when partition date column selected.</small>
                  <!--vier model will convert use filter-->
                    <span ng-if="state.mode=='view'&&model.partition_desc.partition_date_column">{{(model.partition_desc.partition_date_start)|reverseToGMT0 }}</span>
                </div>
            </div>
        </div>

          <div class="form-group" ng-show="userService.hasRole('ROLE_ADMIN')">
              <div class="row">
                  <label class="control-label col-xs-12 col-sm-3 no-padding-right font-color-default"><b>Cube Size</b></label>
                  <div class="col-xs-12 col-sm-6">
                      <select class="form-control"
                              ng-if="state.mode=='edit'"
                              chosen ng-model="model.capacity"
                              ng-options="ddt as ddt for ddt in cubeConfig.cubeCapacities">
                          <option value=""></option>
                      </select>
                      <span ng-if="state.mode=='view'">{{model.capacity}}</span>
                  </div>
              </div>
          </div>

        <!--Filter Condition-->
        <div class="form-group">
            <div class="row">
                <label class="control-label col-xs-12 col-sm-3 no-padding-right font-color-default"><b>Filter</b></label>
                <div class="col-xs-12 col-sm-6">

                    <!--edit mode-->
                    <div class="form-group" ng-if="state.mode=='edit'"
                         style="font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro'">
                        <label for="filter_condition"
                               style="color: #930f80;"><b>WHERE</b></label>
                        <textarea id="filter_condition" type="text"
                                  style="height:150px"
                                  class="form-control box-default"
                                  placeholder="Please input WHERE clause without typing 'WHERE'"
                                  ng-model="model.filter_condition">
                        </textarea>
                    </div>

                    <!--view mode-->
                    <div class="form-group row" ng-if="state.mode=='view'"
                         style="font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro'">
                        <div ng-if="model.filter_condition" class="col-md-11 col-md-offset-1">
                            <p style="color: #930f80;"><b>WHERE</b></p>
                            <span>{{model.filter_condition}}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
       </ng-form>
    </div>

    <div class="col-xs-4">
        <div class="box box-solid">
            <div class="box-header">
                <h4 class="box-title">Tips</h4>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="text-info">
                            <li>Not required,leave as default if cube always need full build</li>
                            <li>Partition column will select 'date' or 'string' type column from fact table</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
