<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div ng-controller="CubeModelCtrl">
    <ng-form name="forms.data_model_form">

    <!-- Fact Table Name -->
    <div class="form-group" ng-class="{'required':state.mode=='edit'}">
        <div class="row">
            <label class="col-xs-12 col-sm-2 control-label concube.detailtrol-label no-padding-right font-color-default">
                <b>Fact Table</b>
            </label>
            <div class="col-xs-12 col-sm-6" ng-class="{'has-error':forms.data_model_form.table_name.$invalid && (forms.data_model_form.table_name.$dirty||forms.data_model_form.$sbumitted)}">
              <select chosen ng-model="modelsManager.selectedModel.fact_table" ng-if="state.mode=='edit'"
                      ng-options="table.name as table.name for table in tableModel.selectProjectTables"
                      style="width:100%;"
                      name="table_name"
                      ng-required="true"
                      data-placeholder="Fact Table Name"
                      class="chosen-select">
                <option value=""> -- Select Fact Table -- </option>
              </select>

                <small class="help-block" ng-show="forms.data_model_form.innerform.typeahead.$error.required && (forms.data_model_form.innerform.typeahead.$dirty||forms.data_model_form.$sbumitted)">The fact table is required</small>
                <span ng-if="state.mode=='view'">{{modelsManager.selectedModel.fact_table}}</span>
            </div>
        </div>
    </div>

    <!-- Lookup Tables Summary -->
    <div class="dataTables_wrapper form-inline no-footer">
        <div class="row">
            <div class="col-xs-6" ng-if="state.mode=='edit'">
                <button type="button" class="btn btn-primary" ng-disabled="!modelsManager.selectedModel.fact_table.length"
                        ng-click="openLookupModal()">
                    <i class="fa fa-plus"></i> Add Lookup Table
                </button>
            </div>
            <div class="col-xs-6" ng-if="state.mode!='edit'">
                <b>{{modelsManager.selectedModel.lookups.length ? 'Lookup Tables' : 'No Lookup Tables'}}</b>
            </div>
            <div class="col-xs-6">
                <span class="pull-right input-icon input-icon-right nav-search" style="margin-left: 22px;" ng-if="modelsManager.selectedModel.lookups.length">
                    <input type="text" placeholder="Filter ..." class="nav-search-input" ng-model="lookupState.filter"/>
                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
            </div>
        </div>
        <table class="table table-striped table-hover" ng-if="modelsManager.selectedModel.lookups.length">
            <thead>
            <tr>
                <th>ID</th>
                <th>Table Name</th>
                <th>Join Type</th>
                <th>Join Condition</th>
                <th ng-if="state.mode=='edit'">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="lookup in modelsManager.selectedModel.lookups | filter:lookupState.filter track by $index">
                <td>
                    <b>{{$index + 1}}</b>
                </td>
                <!-- Table Name -->
                <td>
                    <span tooltip="Lookup Table Name">{{lookup.table}}</span>
                </td>
                <!-- Join Type -->
                <td>
                    <span>{{lookup.join.type}}</span>
                </td>
                <!-- Join Condition -->
                <td>
                    <ul class="list-unstyled">
                        <li ng-repeat="pk in lookup.join.primary_key track by $index">
                            <code>{{modelsManager.selectedModel.fact_table + '.' + lookup.join.foreign_key[$index]}} = {{lookup.table + '.' + pk}}</code>
                        </li>
                    </ul>
                </td>
                <td ng-if="state.mode=='edit'">
                    <!-- edit button -->
                    <button class="btn btn-xs btn-info" ng-disabled="lookupState.editing"
                            ng-click="editLookup(lookup)" tooltip="Edit Lookup"><i class="fa fa-pencil"></i>
                    </button>
                    <!-- remove button -->
                    <button class="btn btn-xs btn-danger" ng-disabled="lookupState.editing"
                            ng-click="removeLookup(lookup)" tooltip="Remove Lookup"><i class="fa fa-trash-o"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </ng-form>

    <!-- Add Lookup Table Form -->
    <script type="text/ng-template" id="dataModelLookupTable.html">
        <div class="modal-header">
            <h4 class="box-title lighter">{{lookupState.editing ? 'Edit' : 'Add'}} Lookup</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-8">
                    <ng-form name="lookup_form">
                    <!--Table Name-->
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-xs-12 col-sm-3 no-padding-right font-color-default"><b>Lookup Table Name</b></label>
                            <div ng-class="{'has-error':lookup_form.table_name.$invalid && (lookup_form.table_name.$dirty||forms.model_info_form.$sbumitted)}">
                                <div class="col-xs-12 col-sm-6">
                                  <select chosen ng-model="newLookup.table"
                                          ng-options="table.name as table.name for table in tableModel.selectProjectTables"
                                          style="width:100%;"
                                          name="table_name"
                                          ng-required="true"
                                          data-placeholder="Lookup Table Name"
                                          class="chosen-select">
                                    <option value=""> -- Select Lookup Table -- </option>
                                  </select>

                                    <small class="help-block" ng-show="lookup_form.table_name.$invalid && (lookup_form.table_name.$dirty||forms.model_info_form.$sbumitted)">Table name required</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Join Type and Columns-->
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-3 control-label font-color-default"><b>Join Type</b></label>
                            <div class="col-sm-6">
                                <select class="form-control"  chosen ng-model="newLookup.join.type"
                                        ng-options="joinType.value as joinType.name for joinType in cubeConfig.joinTypes">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-9">
                                <div ng-repeat="joinIndex in [] | range: newLookup.join.primary_key.length">
                                    <div>
                                        <select style="width: 45%" chosen data-placeholder="Fact Table Column"
                                                ng-model="newLookup.join.foreign_key[$index]"
                                                ng-options="columns.name as columns.name for columns in getColumnsByTable(modelsManager.selectedModel.fact_table)" >
                                            <option value=""></option>
                                        </select>
                                        <b>=</b>
                                        <select style="width: 45%" chosen data-placeholder="Lookup Table Column"
                                                ng-model="newLookup.join.primary_key[$index]"
                                                ng-options="columns.name as columns.name for columns in getColumnsByTable(newLookup.table)" >
                                            <option value=""></option>
                                        </select>
                                        <button class="pull-right btn btn-xs btn-danger" style="cursor: pointer" tooltip="Delete"
                                                ng-click="removeJoin($index);">
                                            <i class="fa fa-trash-o pointer"></i>
                                        </button>
                                    </div>
                                    <div class="space-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <button class="btn btn-xs btn-info"
                                        ng-if="newLookup.join.type"
                                        ng-click="addNewJoin();">
                                    <i class="fa fa-plus"></i> New Join Condition</button>
                            </div>
                        </div>
                    </div>

                    </ng-form>
                </div>

                <!--Tips-->
                <div class="col-xs-4">
                    <div class="box box-solid">
                        <div class="box-header">
                            <h4 class="box-title">Tips</h4>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <ol class="text-info">
                                      <li>Pick up lookup table at first</li>
                                      <li>Specify join relationship between fact table and chosen lookup table.</li>
                                      <li>Join Type have to be same as will be used in query</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="lookup_form.$invalid || !newLookup.join.primary_key.length" ng-click="checkLookupForm()?ok():''">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
