.aside {
  height: 100%;
  background-color:#fff;
}

.aside1 {
  background-color: #fff;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
}

.aside1 > .nav > li > a {
  border-radius: 0px;
  color: #454545;
  font-weight: 600;
  font-family: 'Open sans';
  font-size: 15px;
  padding: 0px 30px 5px 0px;
}

.aside1> .nav > li > a:hover {
  color: #000000;
  background-color: #ffffff;
}

.aside1 > .nav-pills>li.active>a ,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus {
  color: #000000;
  background-color: #ffffff;
}

.list-group {
  font-family: 'Open sans';
}


.aside2 {
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
  overflow-x: hidden;
  padding: 8px 0px 0px 60px;
}

.post-title {
  font-family: 'Open sans';
  font-size: 30px;
}

.post-meta {
  font-family: 'Open sans';
}

.post-content {
  font-family: 'Open sans';
}

.post-content> h1  {
  font-family: 'Open sans';
  font-size: 28px;
}

.post-content> h2  {
  font-family: 'Open sans';
  font-size: 24px;
}

.post-content> h3  {
  font-family: 'Open sans';
  font-size: 20px;
}

.post-content> h4  {
  font-family: 'Open sans';
  font-size: 18px;
}

.post-content> h5  {
  font-family: 'Open sans';
  font-size: 16px;
}

.post-content> h6  {
  font-family: 'Open sans';
  font-size: 16px;
  color: #666666;
}

.nside {
  color: #fb8d08 !important;
}

.nnav {
  font-weight: 600;
}

.nnav-home {
  font-weight: 200;
}

#navtitle {
  color:#454545;
}

#navtitle:hover, #navtitle:focus{
  color:#000000;
}

#navlist {
  color:#454545;
}

#navlist:hover, #navlist:focus{
  color:#000000;
}



