.aside {
  height: 100%;
  background-color:#fff;
}

.aside1 {
  background-color: #fff;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
}

.aside1 > .nav > li > a {
  border-radius: 0px;
  color: #454545;
  font-weight: 600;
  font-size: 15px;
  padding: 0px 30px 5px 0px;
}

.aside1 > .nav-pills>li.active>a ,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus {
  color: #000000;
  background-color: #ffffff;
}

.list-group ul {
  list-style-type: none;
  padding: 0;
}

.list-group ul li{
  height: 40px;
}
.aside2 {
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
  overflow-x: hidden;
  padding: 0px 0px 0px 60px;
}

.post-title {
  font-size: 30px;
}



.post-content> h1  {
  font-size: 28px;
}

.post-content> h2  {
  font-size: 24px;
}

.post-content> h3  {
  font-size: 20px;
}

.post-content> h4  {
  font-size: 18px;
}

.post-content> h5  {
  font-size: 16px;
}

.post-content> h6  {
  font-size: 16px;
  color: #666666;
}

.post-link {
  color: #454545;
  font-size: 20px;
}

.navlist .nside {
  color: #fff;
  background: #F3982A;
}

.nnav {
  font-weight: 600;
}

.nav-stacked {
  background: #FAFAFA;
  border: 1px solid #EEEEEE;
  padding: 10px 20px;
  margin-bottom: 100px;
}

.navtitle {
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  line-height: 22px;
  margin: 20px 0 10px;
}

.navtitle:hover, .navtitle:focus{
  background: inherit;
  cursor: inherit;
}

.navlist {
  background: inherit;
}
.navlist a{
  width: 100%;
  line-height: 40px;
  height: 100%;
  display: inline-block;
  padding-left: 10px;
  color: #151515;
}
.navlist:hover, .navlist:focus{
  color:#000000;
  background:  #EEEEEE;
}
.docs {
  margin-bottom: 100px;
  margin-top: 5em;
}
.docs ul {
  list-style: none;
  position: relative;
}

.docs ul>li:before {
  content: 'â—';
  color: #F3982A;
  position: absolute;
  left: 20px;
}
.docs ul>li:after {
  clear: both;
}
.docs ol {
  padding-left: 20px;
}
#pjax > article > table {
    word-break: break-all;
	border: 1px solid black;
	text-align: center;
}
#pjax > article > table th {
    border: 1px solid black;
    text-align: center;
}
#pjax > article > table td {
    border: 1px solid black;
    width: 200px;
}
#pjax > article > table tr {
    height: 60px;
}
@media only screen and (max-width: 767px) {
  
  .aside2 {
    padding: 0px 0px 0px 10px; 
  }
  .docs {
    margin: 0px;
  }
}

.sponsor {
    float: left;
    display: block;
}

.sponsor img {
    width: 200px;
    height: 80px;
    margin-bottom: 10px
}
