@font-face {
	font-family: 'HelveticaNeueLight';
	src: url('../fonts/helveticaneue_lt.eot');
	src: url('../fonts/helveticaneue_lt.eot') format('embedded-opentype'),  url('../fonts/helveticaneue_lt.woff') format('woff'),  url('../fonts/helveticaneue_lt.ttf') format('truetype'),  url('../fonts/helveticaneue_lt.svg#HelveticaNeueLight') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueRegular';
	src: url('../fonts/helveticaneue-webfont.eot');
	src: url('../fonts/helveticaneue-webfont.eot') format('embedded-opentype'),  url('../fonts/helveticaneue-webfont.woff') format('woff'),  url('../fonts/helveticaneue-webfont.ttf') format('truetype'),  url('../fonts/helveticaneue-webfont.svg#HelveticaNeueRegular') format('svg');
}
/*@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/



html {
	font-size: 100%;
}
body {
	font-size: 14px;
	font-size: 0.9375rem;
	font-family: 'Open sans', 'HelveticaNeueRegular', Arial, sans-serif;
	color: #666666;
	font-weight: 400;
	padding: 0;
}
.topspace {
	margin-top: 40px;
}
p {
	line-height: 1.6em;
	margin: 0 0 30px 0;
}
.title_text {
	font-size: 1.1em !important;
}
.big_text {
	font-size: 1.7em !important;
	font-family: 'Open sans';
	font-weight: 300;
}
.normal_text {
	font-size: 1.3em !important;
	font-family: 'Open sans';
	font-weight: 600;
}
ul, ol {
	line-height: 1.6em;
	margin: 0 0 30px 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Open sans', 'HelveticaNeueRegular', Arial, sans-serif;
	font-weight: 400;
	color: #333333;
}
h1 {
	font-size: 40px;
	font-size: 2.5rem;
}
h2 {
	font-size: 36px;
	font-size: 2.25rem;
}
h3 {
	font-size: 30px;
	font-size: 1.875rem;
}
h4 {
	font-size: 24px;
	font-size: 1.5rem;
}
h5 {
	font-size: 20px;
	font-size: 1.25rem;
}
a {
	color: #2679f4;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}
a:hover, a:focus {
	cursor: pointer;
	color: #2062c4;
	text-decoration: none;
}
/*********************************************************************
 

                                HEADER


**********************************************************************/
#head {
	background: #f4f4f4 url(../images/data.png) top center;
	background-size: cover;
	color: #7C7C7C;
	height: 330px;	
}
#head .title {
	font-family: 'Open sans';
	font-weight: 400;
	font-size: 2.2rem;
	font-size: 36px;
	color: #fb8d08;/*	background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, #C6419E), color-stop(1, #6382FF) );
	background-image: -o-linear-gradient(right, #C6419E 0%, #6382FF 100%);
	background-image: -moz-linear-gradient(right, #C6419E 0%, #6382FF 100%);
	background-image: -webkit-linear-gradient(right, #C6419E 0%, #6382FF 100%);
	background-image: -ms-linear-gradient(right, #C6419E 0%, #6382FF 100%);
	background-image: linear-gradient(to right, #C6419E 0%, #6382FF 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
  
}
#head img.img-circle {
	display: block;
	width: 140px;
	height: 140px;
	overflow: hidden;
	border: 9px solid rgba(0, 0, 0, 0.05);
	margin: 0 auto;
}

#head .title a {
	text-decoration: none;
	color: #333333;
}
#head .tagline {
	display: block;
	font-size: 14px;
	font-size: 1.1rem;
	line-height: 1.2em;
	color: #7C7C7C;
	margin: 5px 0 0;
}
#head .tagline b {
	font-weight: normal;
}
#head .tagline a {
	color: #5E5E5E;
}
#logo {
	padding-top: 50px;
}
.home #head .title {
	font-size: 18px;
	color: #fb8d08;/*color:#146df3;*/
	
}
#download {
	text-align: center;
	padding: 20px;
	font-size: 16px;
	font-weight: 500;
	width: 150px;
	margin: 30px auto;
	padding: 0.6em 0.8em;
	color: #333;
	/*background: rgba(38,121,244,0.8);*/
	border: 1px solid #333;
	-webkit-animation-delay: 1s;
	-ms-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
	text-shadow: none;
	text-transform: uppercase;
 transparent!important
}
#download a {
	color: #333;
}
#download:hover {
	border: 1px solid #5c5c5c;
	opacity: 0.8;
}
/*********************************************************************
 

                            NAVBAR 


**********************************************************************/
.navbar {
	/*
	background: #f4f4f4 url(../images/data.png) top center;
	background-size: cover;
	color: #7C7C7C;
	height: 100px;
*/
	 border-width: 1px 0;
	-webkit-border-radius: 0;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 0;
	-moz-background-clip: padding;
	border-radius: 0;
	background-clip: padding-box;
	width: 100%;

}
.navbar.stick {
	position: fixed;
	top: 0;
	left: 0;
	opacity: .95;
}
.navbar-collapse {
	-webkit-border-radius: 0;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 0;
	-moz-background-clip: padding;
	border-radius: 0;
	background-clip: padding-box;
	font-family: 'Open sans';
	font-weight: 400;
	/* text-transform: uppercase;*/
}
.navbar-nav {
	float: none;
	margin: 0 auto;
	text-align: center;
}
.navbar-nav > li {
	float: none;
	display: inline-block;
}
.navbar-nav > li > a {
	padding: 2px 12px 16px 12px;
}
.navbar-default {
	background-color: #ffffff;
	border-color: #cccccc;
}
.navbar-default .navbar-nav > li > a {
	color: #454545;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #000000;
	background-color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #000000;
	background-color: #ffffff;
}
.navbar-default .dropdown ul.dropdown-menu > li > a {
	color: #454545;
}
.navbar-default .dropdown ul.dropdown-menu > li > a:hover {
	background-color: #eeeeee;
	color: #000000;
}
/*.top-logo {
	background-image: -webkit-gradient(  linear,  left bottom,  right bottom,  color-stop(0, #C6419E),  color-stop(1, #6382FF) );
	background-image: -o-linear-gradient(right, #C6419E 0%, #6382FF 100%);
	background-image: -moz-linear-gradient(right, #C6419E 0%, #6382FF 100%);
	background-image: -webkit-linear-gradient(right, #C6419E 0%, #6382FF 100%);
	background-image: -ms-linear-gradient(right, #C6419E 0%, #6382FF 100%);
	background-image: linear-gradient(to right, #C6419E 0%, #6382FF 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}*/
.top-logo-border {
	background-color: #efefef;
	width: 3em;
	height: 3em;
	border-radius: 1.5em;
}
/*********************************************************************************/
/* Main Sections                                                                 */
/*********************************************************************************/

.main {
	position: relative;
	margin: 0;
	font-family: 'Open sans';
	font-weight: 300;
}
.indent {
	margin-left: 40px;
	line-height: 1.8em
}
.main p {
	margin-top: 1.25em;
	font-size: 1.04em;
	font-weight: 100;
	padding: 0;
	line-height: 2em;
}
.main p a {
	color: #2679f4;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}
.main p a:hover, a:focus {
	cursor: pointer;
	color: #2062c4;
	text-decoration: none;
}
.main > header {
	background: #fff;
	text-align: center;
	padding: 4em 0 4em 0;
	margin: 0;
}
.main > header h2 {
	font-size: 2.25em;
	font-weight: 300;
	margin-bottom: 0;
}
.main > header p {
	margin: 2em 0 0 0;
	padding: 0;
	text-align: left;
	line-height: 1.5em
}
.less-margin {
	margin-top: 1em !important;
}
.main > .content {
	padding: 6em 0 6em 0;
}
.main > .content > .container {
}
.main > .content h3 {
	font-size: 1.5em;
}
/*********************************************************************
 

                                CONTENT


**********************************************************************/

.circle {
	width: 8em;
	height: 8em;
	border-radius: 4em;
	text-align: center;
	margin: 0 auto;
	border: 1px solid #333;
	padding-top: 2em;
}
.circle-icon {
	font-size: 4.3em;
	text-align: center;
	vertical-align: middle;
	padding-top: 0.5em;
	color: #666666;
}
.version:hover {
	opacity: .7;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}
.biggericon {
	font-size: 58px;
}
#lessmargin {
	margin-top: 1.4em;
}
img {
	max-width: 100%;
}
.section-title, .entry-title {
	display: block;
	width: 100%;
	overflow: hidden;
	margin: 0px 0 25px;
	text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 36px;
	font-size: 1.8rem;
	letter-spacing: 1px;
}
.section-title a, .entry-title a {
	color: #333333;
}
.section-title span, .entry-title span {
	display: inline-block;
	position: relative;
}
.section-title span:before, .entry-title span:before, .section-title span:after, .entry-title span:after {
	content: "";
	position: absolute;
	height: 4px;
	top: .53em;
	width: 400%;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
.section-title span:before, .entry-title span:before {
	right: 100%;
	margin-right: 45px;
}
.section-title span:after, .entry-title span:after {
	left: 100%;
	margin-left: 45px;
}
.entry-header .entry-meta {
	text-align: center;
	font-family: Georgia, serif;
	font-size: 18px;
	font-size: 1.125rem;
	font-style: italic;
	font-weight: normal;
	color: #a5a5a5;
	margin: 0 0 15px 0;
}
.entry-header .entry-meta a {
	color: #a5a5a5;
}
.entry-content {
	margin: 0 0 60px 0;
}
.code-lan {
	font-family: "Open sans", Helvetica, Arial, sans-serif;
	font-size: 1.1em !important;
	text-align: center !important;
}
.code-lan>span {
	padding-left: 10px;
	padding-right: 10px;
}
#left-menu {
	line-height: 2.5em !important;
	list-style: none;
	text-align: left;
	margin-top: 10px;
}
#left-menu li {
	border-bottom: 1px solid #e9e9e9;
	cursor: pointer;
}
a.section-menu-title {
	color: #666;
	font-weight: 400;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	padding-left: 1em
}
a.section-menu-title:hover {
	color: #404040 !important;
}
.maintains {
	padding-left: 2em;
	line-height: 2em !important;
}
.maintain {
	line-height: 2em !important;
}
.people_intro {
/*border-bottom:1px dashed #CCC;
	line-height:2em;
	padding-bottom:0.3em*/
}
#contributors {
	padding-bottom: 1.4em
}
#contributors2 {
	border-bottom: 1px dashed #cfcfcf;
	padding-bottom: 1.4em
}
.core_team {
	text-align: center !important;
	font-size: 1.2em !important;
	padding-bottom: 2em !important;
	border-bottom: 1px dashed #cfcfcf;
}
.participant {
	margin-top: 0px !important
}
.content-p {
	margin-top: 1em !important;
}
.content-header {
	text-align: left;
	font-weight: bold !important;
}
/*********************************************************************
 

                                FOOTER


**********************************************************************/


ul.icons {
	position: relative;
	background: rgba(128,128,128,0.05);
	border-radius: 4em;
	display: inline-block;
	padding: 0.35em 0.75em 0.35em 0.75em;
	font-size: 1.45em;
	cursor: default;
}
ul.icons li {
	display: inline-block;
}
ul.icons li a {
	display: inline-block;
	background: none;
	width: 2.5em;
	height: 2.5em;
	line-height: 2.5em;
	text-align: center;
	border-radius: 100%;
	border: 0;
	color: inherit;
}
ul.icons li a:hover {
	color: #ef8376;
}
ol.style1 {
}
#footer {
	background: #232323;
	padding: 30px 0 0 0;
	font-size: 12px;
	color: #999;
}
#footer a {
	color: #ccc;
}
#footer a:hover {
	color: #fff;
}
#footer h3.widget-title {
	font-size: 15px;
	font-size: 0.9375rem;
	text-transform: uppercase;
	color: #ccc;
	margin: 0 0 20px;
}
#underfooter {
	background: #696969;
	padding: 15px 0;
	color: #EEEEEE;
	font-size: 12px;
}
#underfooter a {
	color: #aaa;
}
#underfooter a:hover {
	color: #fff;
}
#underfooter p {
	margin: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: transparent;
}
#nav.affix {
	position: fixed;
	top: 0;
	width: 100%
}
#nav {
	border-radius: 0;
	background-clip: padding-box;
	font-family: 'Open sans';
	font-weight: 400;
	/* text-transform: uppercase;*/
	max-height: 340px;
	padding-right: 15px;
	padding-left: 15px;
	border-bottom: 1px solid #d5d4d4;
	background-color: #fff;
	opacity: .95;
}
.navbar-nav>li>a {
	color: #454545;
}
.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color: transparent;
}
#drawer-icon {
	font-size: 20px;
	padding: 4px 6px;
	border: 1px solid #2679f4;
	border-radius: 3px;
	margin: 10px;
}

/* Max page width
/////////////////////////////////////////////////////////////////////*/
@media (min-width: 1200px) {
.container {
	max-width: 1080px;
}
}

@media only screen and (max-width: 767px) {
/*
#nav-wrapper{
	position:fixed;
	top:0px;
	
	}*/
	
#nav {
	background-color: transparent !important;
}
#head {
	margin-top: 40px;
}
#nav-wrapper {
	position: fixed;
	top: 0px;
}
.navbar-nav {
	background-color: #fff;
	border: 1px solid #d5d4d4;
}
.navbar-nav>li {
	display: list-item;
	border-bottom: 1px solid #d5d4d4;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: transparent !important;
}
}

.center {
  text-align: center;
}
