<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:metrics="http://www.ryantenney.com/schema/metrics" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:cache="http://www.springframework.org/schema/cache" 
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.1.xsd
    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-3.1.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
    http://www.ryantenney.com/schema/metrics
    http://www.ryantenney.com/schema/metrics/metrics-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
    http://www.springframework.org/schema/cache
    http://www.springframework.org/schema/cache/spring-cache.xsd
    http://www.springframework.org/schema/jdbc  
    http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">

	<description>Kylin Rest Service</description>
	<context:annotation-config />
	<mvc:annotation-driven />
	<aop:aspectj-autoproxy />
	
	<context:component-scan base-package="com.kylinolap.rest.controller" />
	<context:component-scan base-package="com.kylinolap.rest.service" />
	<context:component-scan base-package="com.kylinolap.rest.result" />
	<context:component-scan base-package="com.kylinolap.rest.security" />
	<context:component-scan base-package="com.kylinolap.rest.inject" />

	<!-- Matric Spring -->
	<!-- Registry should be defined in only one context XML file -->
	<metrics:metric-registry id="metrics" />

	<!-- annotation-driven must be included in all context files -->
	<metrics:annotation-driven metric-registry="metrics" />

	<!-- (Optional) Registry should be defined in only one context XML file -->
	<metrics:reporter type="ganglia" metric-registry="metrics" group="${ganglia.group}" port="${ganglia.port}"
		udp-mode="MULTICAST" ttl="100" period="1m" />

	<!-- (Optional) The metrics in this example require the metrics-jvm jar -->
	<metrics:register metric-registry="metrics">
		<bean metrics:name="jvm.gc"
			class="com.codahale.metrics.jvm.GarbageCollectorMetricSet" />
		<bean metrics:name="jvm.memory" class="com.codahale.metrics.jvm.MemoryUsageGaugeSet" />
		<bean metrics:name="jvm.thread-states"
			class="com.codahale.metrics.jvm.ThreadStatesGaugeSet" />
		<!--<bean metrics:name="jvm.fd.usage"
			class="com.codahale.metrics.jvm.FileDescriptorRatioGauge" />-->
	</metrics:register>
	<!-- Matric Spring -->
	
	<bean
		class="com.kylinolap.rest.security.PasswordPlaceholderConfigurer">
		<property name="locations">
			<list>
				<!-- Default location inside war file -->
				<value>classpath:kylin.properties</value>
				<!-- Environment specific location, a fixed path on server
				<value>file:///etc/kylin/conf/app.properties</value>  -->
			</list>
		</property>
		<property name="ignoreResourceNotFound" value="true" />
	</bean>

	<!-- Rest service binding -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />

	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
	<bean id="stringHttpMessageConverter"
		class="org.springframework.http.converter.StringHttpMessageConverter" />
	<bean id="formHttpMessageConverter"
		class="org.springframework.http.converter.FormHttpMessageConverter" />

	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />
				<ref bean="stringHttpMessageConverter" />
				<ref bean="formHttpMessageConverter" />
			</list>
		</property>
	</bean>

	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="mediaTypes">
			<map>
				<entry key="html" value="text/html" />
				<entry key="json" value="application/json" />
			</map>
		</property>
		<property name="viewResolvers">
			<list>
				<bean class="org.springframework.web.servlet.view.BeanNameViewResolver" />
				<bean
					class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<!-- <property name="prefix" value="/WEB-INF/jsp/"/> -->
					<property name="suffix" value=".jsp" />
				</bean>
			</list>
		</property>
		<property name="defaultViews">
			<list>
				<bean
					class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />
			</list>
		</property>
	</bean>
	<!-- Rest service binding -->

	<!-- Cache Config -->
	<cache:annotation-driven />
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager"
		p:cacheManager-ref="ehcache" />

	<bean id="ehcache"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
		p:configLocation="classpath:ehcache.xml" p:shared="true" />
	<!-- Cache Config -->

	<beans profile="default">
		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
			<property name="driverClassName" value="${jdbc.driverClassName}" />
			<property name="url" value="${jdbc.url}" />
			<property name="username" value="${jdbc.username}" />
			<property name="password" value="${jdbc.password}" />
			<property name="removeAbandoned" value="true" />
			<property name="initialSize" value="1" />
			<property name="maxActive" value="10" />
			<property name="maxIdle" value="2" />
		</bean>
	</beans>
	
	<beans profile="sandbox,testing">
		<bean id="dataSource"
			class="org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy">
			<constructor-arg>
				<bean class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
					<property name="driverClass" value="org.h2.Driver" />
					<property name="url"
						value="jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;MODE=MySQL;TRACE_LEVEL_SYSTEM_OUT=2" />
				</bean>
			</constructor-arg>
		</bean>
		<jdbc:initialize-database data-source="dataSource">
			<jdbc:script location="classpath:dbSqls/schema.sql" />
		</jdbc:initialize-database> 
	</beans>
</beans>