<script type="text/ng-template" id="project.html">
    <ng-form name="proj_create_form">
        <div class="modal-header">
            <h4>New Project</h4>
        </div>
        <div class="modal-body" style="background-color: white">
            <div class="form-group">
                <label><b>Project Name</b></label>

                <div class="clearfix">
                    <input name="name_input" type="text" class="form-control" ng-model="proj.name" required
                           placeholder="You can use letters, numbers, and underscore characters '_'"
                           ng-maxlength = 100 ng-pattern="/^\w+$/" />
                    <span class="text-warning" ng-if="proj_create_form.name_input.$error.required  && proj_create_form.name_input.$dirty"
                            >&nbsp;The project name is required</span>
                    <span class="text-warning" ng-if="proj_create_form.name_input.$invalid && proj_create_form.name_input.$dirty && !proj_create_form.name_input.$error.required"
                            >&nbsp;The project name is invalid</span>
                </div>
            </div>
            <div class="form-group">
                <label><b>Project Description</b></label>

                <div class="clearfix">
                    <textarea name="description_input" type="text" class="form-control"
                              placeholder="Project Description.."
                              ng-model="proj.description"
                            ></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="cancel()">Close</button>
            <button class="btn btn-success" ng-click="createOrUpdate()" ng-disabled="proj_create_form.$invalid">
                Submit
            </button>
        </div>
    </ng-form>
</script>