<div class="page-header">
    <button class="btn btn-primary btn-sm" ng-if="userService.hasRole('ROLE_ADMIN')||userService.hasRole('ROLE_MODELER')&&kylinConfig.getDeployEnv()!=='PROD'" ng-click="toCreateProj()"><i class="fa fa-plus"></i> Project</button>
</div>

<div ng-if="!loading && projects.length == 0">
    <div no-result text="No Project."></div>
</div>
<loading ng-if="loading" text="Loading Projects..."></loading>

<div ng-if="projects.length > 0" class="dataTables_wrapper form-inline no-footer">
    <div class="row">
        <div class="col-xs-12"><label class="table-header-text">Projects</label></div>
    </div>
    <table class="table table-striped table-bordered table-hover dataTable no-footer">
        <thead>
            <tr style="cursor: pointer">
                <th ng-repeat="theaditem in theaditems"
                    ng-click="state.filterAttr= theaditem.attr;state.reverseColumn=theaditem.attr;state.filterReverse=!state.filterReverse;">
                    {{theaditem.name}}
                    <i ng-if="state.reverseColumn!= theaditem.attr"
                       class="fa fa-unsorted"></i>
                    <i ng-if="state.reverseColumn== theaditem.attr && !state.filterReverse"
                       class="fa fa-sort-desc"></i>
                    <i ng-if="state.reverseColumn== theaditem.attr && state.filterReverse"
                       class="fa fa-sort-asc"></i>
                </th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody ng-repeat="project in projects | orderObjectBy:state.filterAttr:state.filterReverse">
            <tr ng-class="{accordion:true}" style="cursor: pointer">
                <td  ng-click="project.showDetail=!project.showDetail;">
                    <i ng-show="!project.showDetail" class="fa fa-chevron-circle-right blue"></i>
                    <i ng-show="project.showDetail" class="fa fa-chevron-circle-down blue"></i>
                    {{ project.name}}
                </td>
                <td>{{ project.owner}}</td>
                <td>{{ project.description}}</td>
                <td>{{ project.create_time}}</td>
                <td>
                    <button class="btn btn-xs btn-info" ng-click="toEdit(project)" tooltip="Edit"
                            ng-disabled="!(userService.hasRole('ROLE_ADMIN') || hasPermission(project, permissions.ADMINISTRATION.mask, permissions.MANAGEMENT.mask, permissions.OPERATION.mask))">
                        <i class="fa fa-pencil"></i></button>
                    <button class="btn btn-xs btn-danger" ng-click="delete(project)" tooltip="Delete"
                            ng-disabled="!(userService.hasRole('ROLE_ADMIN') || hasPermission(project, permissions.ADMINISTRATION.mask, permissions.MANAGEMENT.mask, permissions.OPERATION.mask))"
                            ><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        <tr ng-show="project.showDetail">
            <td colspan="9" style="padding: 10px 30px 10px 30px;">
                <div ng-include src="'partials/projects/project_detail.html'"
                     ng-init="project.visiblePage='cubes'"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-xs-12">
        <kylin-pagination data="projects" load-func="list"/>
    </div>
</div>

<div ng-include="'partials/projects/project_create.html'"></div>
