<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="{{project.visiblePage=='cubes'? 'active':''}}">
            <a href="" ng-click="project.visiblePage='cubes';">Cubes</a>
        </li>
        <li class="{{project.visiblePage=='access'? 'active':''}}">
            <a href="" ng-click="project.visiblePage='access';listAccess(project, 'ProjectInstance');">Access</a>
        </li>
    </ul>

    <div class="cube-detail" ng-if="project.visiblePage=='cubes'">
        <div class="row">
            <div class="col-xs-1"></div>

            <div class="col-xs-10">
                <div class="space-8"></div>
                <table ng-if="project.cubes.length > 0" class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <th>Cube Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cube in project.cubes" >
                            <td>{{cube}}</td>
                            <td><a href='/cubes/{{project.name}}/{{cube}}?showDetail=true' style="color: #428BCA">Detail</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div no-result ng-if="project.cubes.length == 0"></div>
            <div class="col-xs-1"></div>
        </div>
    </div>

    <div class="cube-detail" ng-if="project.visiblePage=='access'">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <div ng-include src="'partials/common/access.html'" ng-init="entity=project;type='ProjectInstance';"></div>
            </div>
            <div class="col-xs-1"></div>
        </div>
    </div>
</div>
