@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../fonts/helveticaneue_lt.eot');
    src: url('../fonts/helveticaneue_lt.eot') format('embedded-opentype'),
         url('../fonts/helveticaneue_lt.woff') format('woff'),
         url('../fonts/helveticaneue_lt.ttf') format('truetype'),
         url('../fonts/helveticaneue_lt.svg#HelveticaNeueLight') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('../fonts/helveticaneue-webfont.eot');
    src: url('../fonts/helveticaneue-webfont.eot') format('embedded-opentype'),
         url('../fonts/helveticaneue-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneue-webfont.svg#HelveticaNeueRegular') format('svg');
}


@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




html {
	font-size: 100%;
}


body {
	font-size: 14px;
	font-size: 0.9375rem;
	font-family: 'open_sansregular', 'HelveticaNeueRegular', Arial, sans-serif;
	color: #666666;
	padding: 0;
}
.topspace {
	margin-top: 40px;
}
p {
	line-height: 1.6em;
	margin: 0 0 30px 0;
	
}
ul, ol {
	line-height: 1.6em;
	margin: 0 0 30px 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'open_sanslight', 'HelveticaNeueRegular', Arial, sans-serif;
	font-weight: 400;
	color: #333333;
}
h1 {
	font-size: 40px;
	font-size: 2.5rem;
}
h2 {
	font-size: 36px;
	font-size: 2.25rem;
}
h3 {
	font-size: 30px;
	font-size: 1.875rem;
}
h4 {
	font-size: 24px;
	font-size: 1.5rem;
}
h5 {
	font-size: 20px;
	font-size: 1.25rem;
}
a {
	color: #2679f4;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}
a:hover, a:focus {
	cursor: pointer;
	color: #2062c4;
	text-decoration: none;
}
/*********************************************************************
 

                                HEADER


**********************************************************************/
#head {
	background: #f4f4f4 url(../images/data.png) top center;
	background-size: cover;
	color: #7C7C7C;
	height: 370px
}
#head .title {
	font-family: 'HelveticaNeueLight';
	font-size: 49px;
	font-size: 3.0625rem;
/*	background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, #C6419E), color-stop(1, #6382FF) );
	background-image: -o-linear-gradient(right, #C6419E 0%, #6382FF 100%);
	background-image: -moz-linear-gradient(right, #C6419E 0%, #6382FF 100%);
	background-image: -webkit-linear-gradient(right, #C6419E 0%, #6382FF 100%);
	background-image: -ms-linear-gradient(right, #C6419E 0%, #6382FF 100%);
	background-image: linear-gradient(to right, #C6419E 0%, #6382FF 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
  
}

#head img.img-circle {
  display: block;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border: 9px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto;  
}


#head .title a {
  text-decoration: none;
  color: #333333;
}
#head .tagline {
  display: block;
  font-size: 14px;
  font-size: 1rem;
  line-height: 1.2em;
  color: #7C7C7C;
  margin: 5px 0 0;
}
#head .tagline b {
  font-weight: normal;
}
#head .tagline a {
  color: #5E5E5E;
}

#logo{
	padding-top:50px;
	}


.home #head .title {
	font-size: 36px;
	color:#fb8d08;
	/*color:#146df3;*/
	
}


#getstart {
	text-align: center;
	padding:20px;
	font-size:16px;
	font-weight: 500;
	width: 150px;
	margin: 10px auto;
	padding: 0.6em 0.8em;
	background: rgba(38,121,244,0.8);
	/*border: 1px solid #2679f4;	*/
   -webkit-animation-delay: 1s;
   -ms-animation-delay: 1s;
    -moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
	border-radius:3px;
}
#getstart a{
	color: #fff;
	}

#getstart:hover {
	/*border: 1px solid #2062c4;*/
}
/*********************************************************************
 

                            NAVBAR 


**********************************************************************/
.navbar {
	border-width: 1px 0;
	-webkit-border-radius: 0;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 0;
	-moz-background-clip: padding;
	border-radius: 0;
	background-clip: padding-box;
	width: 100%;
}
.navbar.stick {
	position: fixed;
	top: 0;
	left: 0;
	opacity: .85;
}
.navbar-collapse {
	-webkit-border-radius: 0;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 0;
	-moz-background-clip: padding;
	border-radius: 0;
	background-clip: padding-box;
	font-family: 'open_sanslight', Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}
.navbar-nav {
	float: none;
	margin: 0 auto;
	text-align: center;
}
.navbar-nav > li {
	float: none;
	display: inline-block;
}
.navbar-nav > li > a {
	padding: 20px 30px;
}
.navbar-default {
	background-color: #ffffff;
	border-color: #cccccc;
}
.navbar-default .navbar-nav > li > a {
	color: #454545;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #000000;
	background-color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #000000;
	background-color: #ffffff;
}
.navbar-default .dropdown ul.dropdown-menu > li > a {
	color: #454545;
}
.navbar-default .dropdown ul.dropdown-menu > li > a:hover {
	background-color: #eeeeee;
	color: #000000;
}
/*.top-logo {
	background-image: -webkit-gradient(  linear,  left bottom,  right bottom,  color-stop(0, #C6419E),  color-stop(1, #6382FF) );
	background-image: -o-linear-gradient(right, #C6419E 0%, #6382FF 100%);
	background-image: -moz-linear-gradient(right, #C6419E 0%, #6382FF 100%);
	background-image: -webkit-linear-gradient(right, #C6419E 0%, #6382FF 100%);
	background-image: -ms-linear-gradient(right, #C6419E 0%, #6382FF 100%);
	background-image: linear-gradient(to right, #C6419E 0%, #6382FF 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}*/
.top-logo-border {
	background-color: #efefef;
	width: 3em;
	height: 3em;
	border-radius: 1.5em;
}
/*********************************************************************************/
/* Main Sections                                                                 */
/*********************************************************************************/

.main {
	position: relative;
	margin: 0;
}
.main p {
	margin-top: 1.25em;
	font-size: 1em;
	font-weight: 100;
	padding: 0;
	font-family: 'HelveticaNeueLight';
	line-height: 2em;
}
.main p a {
	color: #2679f4;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}
.main p a:hover, a:focus {
	cursor: pointer;
	color: #2062c4;
	text-decoration: none;
}
.main > header {
	background: #fff;
	text-align: center;
	padding: 4em 0 4em 0;
	margin: 0;
}
.main > header h2 {
	font-size: 2.25em;
	font-weight: 300;
	margin-bottom: 0;
}
.main > header p {
	margin: 2em 0 0 0;
	padding: 0;
	text-align: left;
	line-height: 1.5em
}
.main > .content {
	padding: 6em 0 6em 0;
}
.main > .content > .container {
}
.main > .content h3 {
	font-size: 1.5em;
}
/*********************************************************************
 

                                CONTENT


**********************************************************************/

.circle {
	width: 8em;
	height: 8em;
	border-radius: 4em;
	text-align: center;
	margin: 0 auto;
	border: 1px solid #333;
	padding-top: 2em;
}
.circle-icon {
	font-size: 4.3em;
	text-align: center;
	vertical-align: middle;
	padding-top: 0.5em;
	color: #666666;
}
.version:hover {
	opacity: .7;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}
.plotlineis {
	font-size: 50px;
	color: #666666;
}
.biggericon {
	font-size: 58px;
}
#lessmargin {
	margin-top: 1.4em;
}
img {
	max-width: 100%;
}
.section-title, .entry-title {
	display: block;
	width: 100%;
	overflow: hidden;
	margin: 0px 0 25px;
	text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 36px;
	font-size: 1.8rem;
	letter-spacing: 1px;
}
.section-title a, .entry-title a {
	color: #333333;
}
.section-title span, .entry-title span {
	display: inline-block;
	position: relative;
}
.section-title span:before, .entry-title span:before, .section-title span:after, .entry-title span:after {
	content: "";
	position: absolute;
	height: 4px;
	top: .53em;
	width: 400%;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
.section-title span:before, .entry-title span:before {
	right: 100%;
	margin-right: 45px;
}
.section-title span:after, .entry-title span:after {
	left: 100%;
	margin-left: 45px;
}
.entry-header .entry-meta {
	text-align: center;
	font-family: Georgia, serif;
	font-size: 18px;
	font-size: 1.125rem;
	font-style: italic;
	font-weight: normal;
	color: #a5a5a5;
	margin: 0 0 15px 0;
}
.entry-header .entry-meta a {
	color: #a5a5a5;
}
.entry-content {
	margin: 0 0 60px 0;
}
.code-lan {
	font-family: "Open sans", Helvetica, Arial, sans-serif;
	font-size: 1.1em !important;
	text-align: center !important;
}
.code-lan>span {
	padding-left: 10px;
	padding-right: 10px;
}
/*********************************************************************
 

                                FOOTER


**********************************************************************/
#footer {
	background: #232323;
	padding: 30px 0 0 0;
	font-size: 12px;
	color: #999;
}
#footer a {
	color: #ccc;
}
#footer a:hover {
	color: #fff;
}
#footer h3.widget-title {
	font-size: 15px;
	font-size: 0.9375rem;
	text-transform: uppercase;
	color: #ccc;
	margin: 0 0 20px;
}
#underfooter {
	background: #191919;
	padding: 15px 0;
	color: #777;
	font-size: 12px;
}
#underfooter a {
	color: #aaa;
}
#underfooter a:hover {
	color: #fff;
}
#underfooter p {
	margin: 0;
}

/* Max page width
/////////////////////////////////////////////////////////////////////*/
@media (min-width: 1200px) {
.container {
	max-width: 1080px;
}
}
/************** mobile demo ***********************/

#appshow {
	display: none;
}
#showapp {
	padding: 0.6em 0.8em;
	border: 1px solid #2679f4
}
#showapp:hover {
	border: 1px solid #2062c4;
}
#appshow>header {
	background-color: #f5f5f5;
}
.ac-wrapper {
	width: 100%;
	position: relative;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	-webkit-perspective-origin: 50% 25%;
	-moz-perspective-origin: 50% 25%;
	perspective-origin: 50% 25%;
}
.ac-wrapper h2 {
	top: 20%;
	width: 50%;
	position: absolute;
	font-weight: 300;
	font-size: 4em;
	text-align: right;
	padding: 0 180px 0 50px;
	pointer-events: none;
}
.ac-wrapper h2 span {
	display: block;
	font-size: 60%;
	color: #c0c0c0;
}
.ac-device {
	background: url(../images/iPhone.png) no-repeat;
	width: 288px;
	height: 611px;
	margin: 0 auto;
	position: relative;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.ac-device a {
	height: 440px;
	width: 249px;
	display: inline-block;
	margin: 85px 0 0 0px;
}
.ac-device a img {
	display: block;
}
.ac-device h3 {
	position: absolute;
	font-size: 1.6em;
	left: 100%;
	width: 100%;
	top: 60%;
	margin-left: 30px;
	font-weight: 300;
	color: #888;
}
.ac-grid {
	position: absolute;
	width: 100%;
	padding-top: 3.6em;
	z-index: 1000;
	top: 0;
	left: 0;
	text-align: center;
	pointer-events: none;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.ac-grid a {
	width: 220px;
	display: inline-block;
	position: relative;
	margin: 10px 5px;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform: translateZ(-350px);
	-moz-transform: translateZ(-350px);
	transform: translateZ(-350px);
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	transition-delay: 0s;
}
.ac-grid a:first-child {
	-webkit-transform-origin: right center;
	-moz-transform-origin: right center;
	transform-origin: right center;
}
.ac-grid a:last-child {
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	transform-origin: left center;
}
.ac-grid a img {
	display: block;
	width: 100%;
}
.ac-grid a span {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	text-transform: uppercase;
	padding: 4em 1em 0;
	z-index: 100;
	color: #ddd;
	background: rgba(0,0,0,0.4);
	font-weight: 700;
	opacity: 0;
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	transform: translateY(-5px);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.ac-grid a:hover span {
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}
.ac-wrapper.ac-gridview .ac-device {
	-webkit-transform: translateZ(-350px);
	-moz-transform: translateZ(-350px);
	transform: translateZ(-350px);
	opacity: .6;
}
.ac-wrapper.ac-gridview .ac-grid {
	pointer-events: auto;
}
.ac-wrapper.ac-gridview .ac-grid a {
	opacity: 1;
	pointer-events: auto;
}
.ac-wrapper.ac-gridview .ac-grid a:first-child {
	-webkit-transform: rotateY(-20deg) translateZ(0px);
	-moz-transform: rotateY(-20deg) translateZ(0px);
	transform: rotateY(-20deg) translateZ(0px);
}
.ac-wrapper.ac-gridview .ac-grid a:nth-child(2) {
	-webkit-transition-delay: 50ms;
	-moz-transition-delay: 50ms;
	transition-delay: 50ms;
	-webkit-transform: translateZ(0px);
	-moz-transform: translateZ(0px);
	transform: translateZ(0px);
}
.ac-wrapper.ac-gridview .ac-grid a:nth-child(3) {
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	-webkit-transform: translateZ(0px);
	-moz-transform: translateZ(0px);
	transform: translateZ(0px);
}
.ac-wrapper.ac-gridview .ac-grid a:last-child {
	-webkit-transition-delay: 150ms;
	-moz-transition-delay: 150ms;
	transition-delay: 150ms;
	-webkit-transform: rotateY(20deg) translateZ(0px);
	-moz-transform: rotateY(20deg) translateZ(0px);
	transform: rotateY(20deg) translateZ(0px);
}
 @media screen and (max-width: 63.875em) {
.ac-wrapper {
	font-size: 60%;
	width: 100%;
	padding: 0 20px;
}
.ac-device {
	margin: 0;
	width: 100%;
}
.ac-device h3 {
	width: 50%;
	left: 290px;
}
.ac-wrapper h2 {
	left: 308px;
	padding: 0;
	text-align: left;
	margin-left: 30px;
}
}
 @media screen and (max-width: 58em) {
.ac-grid {
	width: 90%;
	left: 5%;
	margin-left: 0;
	padding-top: 8em;
}
.ac-grid a {
	width: 22%;
}
}
 @media screen and (max-width: 35.6875em) {
.ac-wrapper {
	padding: 0 20px 100px;
}
.ac-wrapper h2 {
	width: 100%;
	text-align: center;
	margin: 0 0 1em;
	top: 0;
	left: auto;
	position: relative;
}
.ac-device {
	margin: 0 auto;
	width: 288px;
}
.ac-device h3 {
	position: relative;
	margin: 0;
	left: auto;
	width: 100%;
	top: 100px;
	display: block;
	text-align: center;
}
.ac-grid a {
	width: 40%;
}
.ac-wrapper.ac-gridview .ac-grid a {
	-webkit-transform: translateZ(0px) !important;
	-moz-transform: translateZ(0px) !important;
	transform: translateZ(0px) !important;
}
}
