<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->
<div class="wrapper">
  <aside class="main-sidebar" style="padding-top:0px !important;">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">

    </section>
    <!-- /.sidebar -->
  </aside>

  <div class="content-wrapper" style="min-height: 800px;">

    <section class="content-header">
      <h1>
        Dashboard
        <small></small>
      </h1>
    </section>

    <section class="content">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-users"></i></span>

            <div class="info-box-content" cg-busy="{promise:queryUserPromise,message:'Loading...'}">
              <span class="info-box-number size-h2 text-muted">{{stastic.userCount}}</span>
              <span class="info-box-text size-h4 text-muted">Users</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-eye"></i></span>

            <div class="info-box-content" cg-busy="{promise:last30DayPercentilePromise,message:'Loading...'}">
              <span class="info-box-number size-h2 text-muted">{{stastic.last30DayPercentile}} S</span>
              <span class="info-box-text size-h4 text-muted">90%-ile Latency (last 30 days)</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-database"></i></span>

            <div class="info-box-content" cg-busy="{promise:cubesStoragePromise,message:'Loading...'}">
              <span class="info-box-number size-h2 text-muted">{{stastic.cubeStorage}}</span>
              <span class="info-box-text size-h4 text-muted">Storage</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-cubes"></i></span>

            <div class="info-box-content" cg-busy="{promise:cubesStoragePromise,message:'Loading...'}">
              <span class="info-box-number size-h2 text-muted">{{stastic.cubesCount}}</span>
              <span class="info-box-text size-h4 text-muted">Cubes</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row" ng-controller="DashBoardCtrl">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Query Latency (last 30 days)</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">


              <div class="row">
                <div class="col-md-12">
                  <p class="text-center">
                    <strong></strong>
                  </p>


                        <!-- Sales Chart Canvas -->
                        <!--<div cg-busy="{promise:queryCountDailyPercentilePromise,message:'Loading...'}">-->
                        <div cg-busy="[eachDayPercentilePromise]">

                            <nvd3-line-plus-bar-chart
                                    data="eachDayPercentileData"
                                    objectequality="true"
                                    margin="{left:100,top:10,bottom:100,right:100}"
                                    showXAxis="true"
                                    showYAxis="true"
                                    y1AxisLabel="Query Count"
                                    y2AxisLabel="Query Latency(seconds)"
                                    forceY="[0]"
                                    height="400"
                                    xaxisrotatelabels="-45"
                                    tooltips="true"
                                    useInteractiveGuideline="true"
                                    showLegend="true"
                                    legendWidth="200"
                                    legendHeight="100"
                                    xAxisTickFormat="xAxisTickFormatFunction()"
                                    interactive="true"
                                    tooltipcontent="dailyPercentileToolTip"
                                    >
                              <svg></svg>
                            </nvd3-line-plus-bar-chart>
                        </div>
                  <!-- /.chart-responsive -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <div class="row">
                <div class="col-md-6">
                  <div class="box">
                    <div class="box-header with-border">
                      <h3 class="box-title">Cube Source</h3>
                    </div>
                    <div class="box-body">
                        <!-- Sales Chart Canvas -->
                        <div cg-busy="{promise:cubeInfoPromise}">
                        <nvd3-multi-bar-chart
                          margin="{left:100,top:10,bottom:100,right:60}"
                          data="cubeUsageData"
                          objectequality="true"
                          height="350"
                          showXAxis="true"
                          reducexticks="{{reduceCubeSourceTicks}}"
                          xaxisrotatelabels="-45"
                          showYAxis="true"
                          forceY="[0]"
                          xAxisLabel="Cube Name"
                          yAxisLabel="Cube Source Records"
                          showLegend="true"
                          tooltips="true"
                          legendWidth="200"
                          legendHeight="100"
                          tooltips="true"
                          yAxisTickFormat="cubeSourceYAxisTickFormat()"
                          tooltipcontent="cubeToolTipContentFunction"
                          >
                          <svg></svg>
                        </nvd3-multi-bar-chart>
                          </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="box">
                    <div class="box-header with-border">
                      <h3 class="box-title">Project Latency (last 30 days)</h3>
                    </div>
                    <div class="box-body">
                        <!-- Sales Chart Canvas -->
                        <div cg-busy="{promise:projectPercentilePromise}">
                          <nvd3-multi-bar-chart
                            margin="{left:100,top:10,bottom:100,right:60}"
                            data="eachProjectPercentileData"
                            objectequality="true"
                            height="350"
                            showXAxis="true"
                            xAxisLabel="Project Name"
                            reducexticks="{{reduceProjectPercentileTicks}}"
                            xaxisrotatelabels="-45"
                            showYAxis="true"
                            yAxisLabel="Query Latency(seconds)"
                            showLegend="true"
                            legendWidth="200"
                            legendHeight="100"
                            tooltips="true"
                            tooltipcontent="projectPercentileToolTipContentFunction"
                            >
                            <svg></svg>
                          </nvd3-multi-bar-chart>

                        </div>
                    </div>
                  </div>


                </div>
              </div>


            </div>
            <!-- ./box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
  </div>
</div>
