<nav class="navbar-inner">
    <div class="container">
        <div class="copyright">
            <span>
                <a href="mailto:{{config.contact_mail}}" style="color:#808080;"><i class="fa fa-envelope"></i> Contact Us</a> |
                <a href="https://www.yammer.com/ebay.com/#/threads/inGroup?type=in_group&feedId=4025381" style="color:#808080;"><i class="fa fa-users"></i> Yammer Group</a> |
                © {{footer.year}} eBay Inc.
            </span>
        </div>
    </div>
</nav>
