<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<!--Big Background Image-->
<div class="bg-holder">
  <img src="image/Himg.png"/>
</div>

<!--Carousel Part-->
<div style="height: 442px;">
  <carousel interval="myInterval">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.image}}"/>
      <div class="carousel-caption">
        <h1>{{slide.caption}}</h1>
        <p>{{slide.text}}</p>
      </div>
    </slide>
  </carousel>
</div>

<!--Features Part-->
<div id="features" class="container marketing">
  <div class="row">
    <div class="col-xs-12 col-sm-4 feature">
      <a><i class="fa fa-cubes fa-5x"></i></a>
      <h2>Create Cube</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
        vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo
        cursus magna.</p>
      <p><a class="btn btn-default" href="cubes" role="button">View details »</a></p>
    </div>
    <div class="col-xs-12 col-sm-4 feature">
      <a><i class="fa fa-tasks fa-5x"></i></a>
      <h2>Query Online</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras
        mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh.</p>
      <p><a class="btn btn-default" href="query" role="button">View details »</a></p>
    </div>
    <div class="col-xs-12 col-sm-4 feature">
      <a><i class="fa fa-sort-amount-asc fa-5x"></i></a>
      <h2>Jobs</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
        porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="jobs" role="button">View details »</a></p>
    </div>
  </div>
</div>
