<div class="my-light-login login-layout login-backgroud">
    <div class="main-container ">
        <div class="main-content row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container mylogin-body">
                    <div class="login-box box box-solid">
                        <div class="box-header">
                            <div class="box-title">
                                <h4 class="header blue lighter bigger"> <i class="ace-icon fa fa-coffee green"></i> Sign in </h4>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="alert alert-danger animated fadeIn" ng-if="error">{{error}}</div>
                            <form name="login_form" ng-submit="login()">
                                <div class="form-group">
                                    <span class="width-100 input-icon input-icon-right">
                                        <input id="username" class="form-control" ng-model="username" type="text" autofocus="autofocus" required placeholder="Username" auto-fill-sync />
                                        <i class="ace-icon fa fa-user"></i>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <span class="width-100 input-icon input-icon-right">
                                        <input id="password" class="form-control" ng-model="password" type="password" required placeholder="Password" auto-fill-sync />
                                        <i class="ace-icon fa fa-lock"></i>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <span>

                                        <select  ng-required="project.projects.length" chosen ng-model="project.selectedProject" ng-init="newAccess.permission=permissions.READ.value"
                                                ng-options="project as project for project in project.projects"
                                                style="width: 100% !important;"
                                                data-placeholder="select a project"
                                                class="chosen-select">
                                            <option value=""></option>
                                        </select>
                                    </span>
                                </div>
                                <div class="space"></div>
                                <div class="form-group">
                                    <a href="https://groups.google.com/forum/#!forum/kylin-olap" target="_blank" class="text-muted">Login Issue?</a>
                                    <button class="pull-right btn btn-sm btn-primary" type="submit" ng-disabled="login_form.$invalid">
                                        <i class="ace-icon fa fa-key"></i>
                                        <span class="bigger-110">{{loading? 'Logging In...': 'Log In'}}</span>
                                    </button>
                                </div>
                                <div class="space-4"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
