# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.idb
*.ilk

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
*.exe

# Temp files
*.opensdf
*.sdf
*.log
*.tlog
*.pdb
*.suo
*.aps
/UpgradeLog.*
/_UpgradeReport_files*
/ipch*
*.unsuccessfulbuild
*.successfulbuild
*.lastbuildstate

# Installer projects
Installer/Installer/
Installer(64bit)/Installer(64bit)/