<!DOCTYPE html>
<html>
<head>
    <title>Angular Sortable and Draggable Demo.</title>
    <!--styles -->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-css-only/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="dist/ng-sortable.min.css">
    <link rel="stylesheet" type="text/css" href="dist/ng-sortable.style.min.css">
    <link rel="stylesheet" type="text/css" href="styles/board.css">
    <!--scripts-->
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="dist/ng-sortable.js"></script>
    <script type="text/javascript" src="model.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="scripts/services/BoardManipulator.js"></script>
    <script type="text/javascript" src="scripts/services/BoardDataFactory.js"></script>
    <script type="text/javascript" src="scripts/services/BoardService.js"></script>
    <script type="text/javascript" src="scripts/controllers/KanbanController.js"></script>
    <script type="text/javascript" src="scripts/controllers/SprintController.js"></script>
    <script type="text/javascript" src="scripts/controllers/NewCardController.js"></script>

</head>
<body ng-app="demoApp">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="board-header">
            <ul class="nav nav-tabs nav-justified">
                <li><a href="#/kanban" ng-class="{active: isActive('#/kanban')}">Kanban</a></li>
                <li><a href="#/sprint" ng-class="{active: isActive('#/sprint')}">Sprint</a></li>
            </ul>
        </div>
    <div ng-view></div>
</nav>
</body>
</html>