<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->



<div class="col-md-3 col-lg-3 col-xs-4 aside1 visible-md visible-lg" id="nside1" style=" padding-top: 2em">
    <ul class="nav nav-pills nav-stacked">

    <li><a href="#{{ category | first }}" data-toggle="collapse" id="navtitle">Getting Started</a></li>
        <div class="collapse in" id="{{ category[0] }}">
            <div class="list-group" id="list1">
                <ul style="list-style-type:disc">
                {% for page in site.pages %}
                    {% if page.categories contains 'gettingstarted' %}
                    <li><a href="{{ page.url }}" class="list-group-item-lay pjaxlink">{{page.title}}</a></li>
                    {% endif %}
                {% endfor %}
                <ul>
            </div>
        </div>

    <li><a href="#{{ category | first }}" data-toggle="collapse" id="navtitle">Installation</a></li>
    <div class="collapse in" id="{{ category[0] }}">
        <div class="list-group" id="list1">
            <ul style="list-style-type:disc">
            {% for page in site.pages %}
                {% if page.categories contains 'install' %}
                <li><a href="{{ page.url }}" class="list-group-item-lay pjaxlink">{{page.title}}</a></li>
                {% endif %}
            {% endfor %}
            <ul>
        </div>
        </div>

        <li><a href="#{{ category | first }}" data-toggle="collapse" id="navtitle">How to</a></li>
        <div class="collapse in" id="{{ category[0] }}">
            <div class="list-group" id="list5">
                <ul style="list-style-type:disc">
                {% for page in site.pages %}
                    {% if page.categories contains 'howto' %}
                    <li><a href="{{ page.url }}" class="list-group-item-lay pjaxlink">{{page.title}}</a></li>
                    {% endif %}
                {% endfor %}
                <ul>
            </div>
        </div>

        <li><a href="#{{ category | first }}" data-toggle="collapse" id="navtitle">Tutorial</a></li>
        <div class="collapse in" id="{{ category[0] }}">
            <div class="list-group" id="list5">
                <ul style="list-style-type:disc">
                {% for page in site.pages %}
                    {% if page.categories contains 'tutorial' %}
                    <li><a href="{{ page.url }}" class="list-group-item-lay pjaxlink">{{page.title}}</a></li>
                    {% endif %}
                {% endfor %}
                <ul>
            </div>
        </div>

        <li><a href="#{{ category | first }}" data-toggle="collapse" id="navtitle">Development</a></li>
        <div class="collapse in" id="{{ category[0] }}">
            <div class="list-group" id="list5">
                <ul style="list-style-type:disc">
                {% for page in site.pages %}
                    {% if page.categories contains 'development' %}
                    <li><a href="{{ page.url }}" class="list-group-item-lay pjaxlink">{{page.title}}</a></li>
                    {% endif %}
                {% endfor %}
                <ul>
            </div>
        </div>

    </ul>
</div>
