<div ng-controller="CubeSchemaCtrl">
    <div class="row">
        <div class="col-xs-3">
            <div ng-include src="'partials/tables/source_table_tree.html'" ng-controller="SourceMetaCtrl"></div>
        </div>
        <div class="col-xs-9">
            <form role="form" name="cube_form" novalidate>
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Project
                            <select class="inline form-control" ng-model="cubeMetaFrame.project" required
                                    ng-options="project.name as project.name for project in projects | filter: filterProj"
                                    style="width: 250px">
                                <option value="">-- Select Project --</option>
                            </select>
                        </h3>
                    </div>
                </div>
                <section style="padding-bottom: 20px">
                    <div style="height: 620px; font-size: 14px;" ui-ace="{
                                      useWrapMode : true,
                                      showGutter: true,
                                      theme:'chrome',
                                      mode: 'json',
                                      onLoad: aceLoaded,

                                      onChange: aceChanged
                                    }" ng-model="state.cubeSchema">
                    </div>
                </section>
                <button class="btn btn-primary" ng-disabled="cube_form.$invalid" ng-click="state.project = cubeMetaFrame.project;saveCube()">
                    Save
                </button>
            </form>
        </div>
    </div>
</div>
