<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div class="row">
    <div class="col-xs-3">
        <div ng-include src="'partials/models/models_tree.html'" ng-controller="ModelsCtrl"></div>
    </div>
    <div class="col-xs-9">
        <form role="form" name="cube_form" novalidate>
            <!-- This margin in order to align with table tree in left part -->
            <div style="margin-top: 20px;">
                <div ng-include="'partials/cubes/cube_schema.html'" ng-controller="CubeSchemaCtrl"
                     ng-init="state={mode:'edit', cubeName: routeParams.cubeName}">
                </div>
            </div>
        </form>
    </div>
</div>
</div>
