<div class="page-header row">
    <!--Project-->
    <div class="col-xs-3">
        <form ng-if="userService.isAuthorized()">
            <div class="form-group">
                <span><b>Project: </b></span>
                <select chosen ng-model="project.selectedProject" ng-init="newAccess.permission=permissions.READ.value;project.selectedProject=project.selectedProject!=null?project.selectedProject:project.projects[0]"
                        ng-options="project as project for project in project.projects"
                        style="width: 150px"
                        data-placeholder="select a project"
                        class="chosen-select">
                </select>
                <!--Project-->
                <a class="btn btn-xs btn-info" href="/projects" tooltip="Manage Project"><i class="fa fa-gears"></i></a>
                <a class="btn btn-xs btn-primary" style="width: 29px" ng-if="userService.hasRole('ROLE_MODELER')"  tooltip="Add Project" ng-click="toCreateProj()">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </form>
    </div>
    <!--Cube Name-->
    <div class="col-xs-3">
        <form ng-submit="cubes=[];list()" style="display: inline" >
            <span class="input-icon input-icon-right nav-search"><b>Cube Name:</b>
                <input type="text" placeholder="Filter ..." class="nav-search-input" ng-model="listParams.cubeName" />
                <i class="ace-icon fa fa-search blue" ng-click="cubes=[];list()"></i>
            </span>
        </form>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary btn-sm" href="/cubes/add/json" ng-if="userService.hasRole('ROLE_ADMIN')"><i class="fa fa-pencil-square-o"></i> Json Editor</a>
        <a class="btn btn-primary btn-sm" href="/cubes/add"  ng-if="userService.hasRole('ROLE_MODELER')" id="addCubeButton"><i class="fa fa-plus"></i> Cube</a>
    </div>
</div>

<div ng-if="!loading && cubes.length == 0">
    <div no-result text="No Cube."></div>
</div>
<loading ng-if="loading" text="Loading Cubes..."></loading>

<!--Table-->
<div ng-if="cubes.length > 0" class="dataTables_wrapper no-footer">
    <div class="row">
        <div class="col-xs-12"><label class="table-header-text">Cubes</label></div>
    </div>
    <table class="table table-striped table-bordered table-hover dataTable no-footer">
        <!--Header-->
        <thead>
        <tr style="cursor: pointer">
            <th ng-repeat="theaditem in theaditems"
                ng-click="state.filterAttr= theaditem.attr;state.reverseColumn=theaditem.attr;state.filterReverse=!state.filterReverse;">
                {{theaditem.name}}
                <i ng-if="state.reverseColumn!= theaditem.attr"
                   class="fa fa-unsorted"></i>
                <i ng-if="state.reverseColumn== theaditem.attr && !state.filterReverse"
                   class="fa fa-sort-asc"></i>
                <i ng-if="state.reverseColumn== theaditem.attr && state.filterReverse"
                   class="fa fa-sort-desc"></i>
            </th>
            <th>Actions</th>
            <th ng-if="userService.hasRole('ROLE_ADMIN')">Admins</th>
        </tr>
        </thead>
        <!--Body-->
        <tbody ng-repeat="cube in cubes | orderObjectBy:state.filterAttr:state.filterReverse">
        <tr ng-class="{accordion:true}" style="cursor: pointer">
            <td ng-click="cube.showDetail=!cube.showDetail;loadDetail(cube)">
                <i ng-show="!cube.showDetail" class="fa fa-chevron-circle-right blue"></i>
                <i ng-show="cube.showDetail" class="fa fa-chevron-circle-down blue"></i>
                {{ cube.name}}
            </td>
            <td>
                <span class="label"
                      ng-class="{'label-success': cube.status=='READY', 'label-default': cube.status=='DISABLED'}">
                    {{ cube.status}}
                </span>
            </td>
            <td><span tooltip-html-unsafe="<div style='text-align:left'>
                Source Table Size: {{dataSize(cube.source_records_size)}}<br/>
                Expansion Rate: {{(cube.source_records_size>0? cube.size_kb*1024/cube.source_records_size : 0) * 100 | number:2}}%
                </div>">{{dataSize(cube.size_kb*1024)}}</span></td>
            <td><span tooltip-html-unsafe="<div style='text-align:left'>
                Source Table Size: {{dataSize(cube.source_records_size)}}<br/>
                Expansion Rate: {{(cube.source_records_size>0? cube.size_kb*1024/cube.source_records_size : 0) * 100 | number:2}}%
                </div>">{{ cube.source_records_count | number:0}}</span></td>
            <td>{{ (cube.last_build_time | date:'yyyy-MM-dd HH:mm:ss') }}</td>
            <td>{{ cube.owner}}</td>
            <td>{{ cube.create_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>
                <div class="btn-group" ng-if="userService.hasRole('ROLE_ADMIN') || hasPermission(cube, permissions.ADMINISTRATION.mask, permissions.MANAGEMENT.mask, permissions.OPERATION.mask)">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                            data-toggle="dropdown" ng-click="listAccess(cube, 'CubeInstance')">
                        Action <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-if="cube.status=='DISABLED' && userService.hasRole('ROLE_ADMIN') ">
                            <a ng-click="dropCube(cube)" tooltip="Drop the cube, related jobs and data permanently.">Drop</a></li>
                        <li ng-if="cube.status=='DISABLED' && (userService.hasRole('ROLE_ADMIN') || hasPermission(cube, permissions.ADMINISTRATION.mask, permissions.MANAGEMENT.mask))">
                            <a href="/cubes/edit/{{cube.name}}">Edit</a></li>
                        <li><a ng-click="startJobSubmit(cube)">Build</a></li>
                        <li><a ng-click="startRefresh(cube)">Refresh</a></li>
                        <li><a ng-click="startMerge(cube)">Merge</a></li>
                        <li ng-if="cube.status!='DISABLED'"><a ng-click="disable(cube)">Disable</a></li>
                        <li ng-if="cube.status=='DISABLED'"><a ng-click="enable(cube)">Enable</a></li>
                        <li ng-if="cube.status=='DISABLED'"><a ng-click="purge(cube)">Purge</a></li>

                    </ul>
                </div>
                <span ng-if="!(userService.hasRole('ROLE_ADMIN') || hasPermission(cube, permissions.ADMINISTRATION.mask, permissions.MANAGEMENT.mask, permissions.OPERATION.mask))">
                    N/A
                </span>
            </td>
            <td ng-if="userService.hasRole('ROLE_ADMIN')">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" ng-click="listAccess(cube, 'CubeInstance')">
                        Action <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-if="cube.status=='DISABLED'"><a href="/cubes/edit/{{cube.name}}/json">Edit(JSON)</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr ng-show="cube.showDetail">
            <td colspan="9" style="padding: 10px 30px 10px 30px;">
                <div ng-include src="'partials/cubes/cube_detail.html'"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-xs-12">
        <kylin-pagination data="cubes" load-func="list" action="action"/>
    </div>
</div>
<div class="pull-left font-color-default" style="font-size: 15px" >
    <strong>Storage: {{getTotalSize(cubes)}}</strong>
</div>

<div ng-include="'partials/jobs/job_submit.html'"></div>
<div ng-include="'partials/jobs/job_refresh.html'"></div>
<div ng-include="'partials/jobs/job_merge.html'"></div>
<div ng-include="'partials/projects/project_create.html'"></div>

