<div ng-controller="CubeSchemaCtrl">
    <div class="row">
        <div class="col-xs-3">
            <div ng-include src="'partials/tables/source_table_tree.html'" ng-controller="SourceMetaCtrl"></div>
        </div>
        <div class="col-xs-9">
            <form role="form" name="cube_form" novalidate>
                <div class="row">
                    <div class="col-xs-12">
                        <form class="navbar-form navbar-left" style="margin-top: 0px !important;" ng-if="userService.isAuthorized()">
                            <div class="form-group">
                                <span><b>Project: </b></span>
                                <select chosen ng-model="project.selectedProject" ng-init="newAccess.permission=permissions.READ.value;project.selectedProject=project.selectedProject!=null?project.selectedProject:project.projects[0]"
                                        ng-options="project as project for project in project.projects"
                                        style="width: 150px"
                                        data-placeholder="select a project"
                                        class="chosen-select">
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <section style="padding-bottom: 20px">
                    <div style="height: 620px; font-size: 14px;" ui-ace="{
                                      useWrapMode : true,
                                      showGutter: true,
                                      theme:'chrome',
                                      mode: 'json',
                                      onLoad: aceLoaded,

                                      onChange: aceChanged
                                    }" ng-model="state.cubeSchema">
                    </div>
                </section>
                <button class="btn btn-primary" ng-disabled="cube_form.$invalid" ng-click="state.project = project.selectedProject;saveCube()">
                    Save
                </button>
            </form>
        </div>
    </div>
</div>
