<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div class="tree-border">
    <div class="row">
        <div class="col-xs-7">
            <h3 class="text-info">Tables</h3>
        </div>

        <!--button-->
        <div class="col-xs-5" style="padding-left: 0px;margin-top: 20px;">
            <div class="pull-right">
                <a class="btn btn-xs btn-primary" tooltip="Load Hive Table"  ng-if="userService.hasRole('ROLE_ADMIN')"  ng-click="openModal()"><i class="fa fa-download"></i></a>
                <a class="btn btn-xs btn-success" tooltip="Refresh Tables" ng-click="aceSrcTbChanged()"><i class="fa fa-refresh"></i></a>
            </div>
        </div>

    </div>
    <div class="space-4"></div>
    <!--tree-->
    <div style="width:100%; height:{{window}}px; overflow:auto;">
        <treecontrol ng-if="tableModel.selectedSrcDb.length > 0" class="tree-light"
                     dirSelection="true"
                     tree-model="tableModel.selectedSrcDb"
                     options="tableModel.treeOptions"
                     on-selection="showSelected(node)"
                     selected-node="tableModel.selectedSrcTable">
            {{node.name}} {{!!(node.datatype)?'(' + trimType(node.datatype) + ')' : ''}}
        </treecontrol>
    </div>
</div>


<script type="text/ng-template" id="addHiveTable.html">
  <div class="modal-header">
    <h4>Load Hive Table Metadata</h4>
  </div>
  <div class="modal-body">
    <span><strong>Project: </strong>{{ $parent.projectName!=null?$parent.projectName:'NULL'}}</span>
    <label for="tables"> Table Names:(Seperate with comma)</label>
            <textarea ng-model="$parent.tableNames" class="form-control" id="tables"
                      placeholder="table1,table2  By default,system will choose 'Default' as database,you can specify database like this 'database.table'"></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="add()">Sync</button>
    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
  </div>
</script>
