<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div class="page-header" style="height: 50px;">
    <!--Project-->
    <form class="navbar-form navbar-left" style="margin-top: 0px !important;" ng-if="userService.isAuthorized()">
        <div class="form-group">
            <span><b>Project: </b></span>
            <select chosen ng-model="projectModel.selectedProject" ng-init="newAccess.permission=permissions.READ.value;"
                    ng-options="project as project for project in projectModel.projects"
                    style="width: 150px"
                    data-placeholder="select a project"
                    class="chosen-select">
                <option  ng-if="userService.hasRole('ROLE_ADMIN')" ng-selected="projectModel.selectedProject==null"  value=""> -- Choose Project -- </option>
            </select>
            <!--Project-->
            <a class="btn btn-xs btn-info" href="projects" tooltip="Manage Project"><i class="fa fa-gears"></i></a>
            <a class="btn btn-xs btn-primary" style="width: 29px" ng-if="userService.hasRole('ROLE_ADMIN')||userService.hasRole('ROLE_MODELER')&&kylinConfig.getDeployEnv()!=='PROD'" tooltip="Add Project" ng-click="toCreateProj()">
                <i class="fa fa-plus"></i>
            </a>

        </div>
    </form>
</div>

<div class="row" ng-controller="SourceMetaCtrl">
    <!--table_tree-->
    <div class="col-xs-3">
        <div ng-include src="'partials/tables/source_table_tree.html'"></div>
    </div>
    <!--Tab-->
    <div class="col-xs-9">
        <h3 class="text-info">Table Schema:{{ tableModel.selectedSrcTable.name}}</h3>
        <div class="tabbable nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#column">Columns</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#schema">Extend Information</a>
                </li>
            </ul>
            <div class="tab-content">
                <!--Schema-->
                <div id="schema" class="tab-pane">
                    <div ng-if="tableModel.selectedSrcTable.uuid" class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th style="width:20%">NAME</th>
                                    <td>{{ tableModel.selectedSrcTable.name}}</td>
                                </tr>
                                <tr>
                                    <th>Hive DATABASE</th>
                                    <td>{{tableModel.selectedSrcTable.database}}</td>
                                </tr>
                                <tr>
                                    <th>SNAPSHOT TIME</th>
                                    <td>{{tableModel.selectedSrcTable.exd.lastUpdateTime | utcToConfigTimeZone}}</td>
                                </tr>
                                <tr>
                                    <th>LOCATION</th>
                                    <td>{{tableModel.selectedSrcTable.exd.location}}</td>
                                </tr>
                                <tr>
                                    <th>INPUT FORMAT</th>
                                    <td>{{tableModel.selectedSrcTable.exd.inputformat}}</td>
                                </tr>
                                <tr>
                                    <th>OUTPUT FORMAT</th>
                                    <td>{{tableModel.selectedSrcTable.exd.outputformat}}</td>
                                </tr>
                                <tr>
                                    <th>OWNER</th>
                                    <td><a href="mailto:{{tableModel.selectedSrcTable.exd.owner}}">{{tableModel.selectedSrcTable.exd.owner}}</a></td>
                                </tr>
                                <tr>
                                    <th>TOTAL FILE NUMBER</th>
                                    <td>{{tableModel.selectedSrcTable.exd.totalNumberFiles}}</td>
                                </tr>
                                <tr>
                                    <th>TOTAL FILE SIZE</th>
                                    <td>{{tableModel.selectedSrcTable.exd.totalFileSize}}</td>
                                </tr>
                                <tr>
                                    <th>PARTITIONED</th>
                                    <td>{{tableModel.selectedSrcTable.exd.partitioned}}</td>
                                </tr>
                                <tr>
                                    <th>PARTITION COLUMNS</th>
                                    <td>{{tableModel.selectedSrcTable.exd.partitionColumns}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--Columns-->
                <div id="column" class="tab-pane active">
                    <div class="profile-user-info">
                        <div>
                            <label class="table-header-text">Columns</label>
                            <span class="input-icon form-search nav-search pull-right">
                                <input type="text" placeholder="Filter ..." class="nav-search-input" ng-model="columnName"/>
                                <i class="ace-icon fa fa-search nav-search-icon"></i>
                            </span>
                        </div>
                        <div class="space-6"></div>
                        <div ng-if="(tableModel.selectedSrcTable.columns | filter: columnName).length>0">
                            <table class="table table-hover table-striped list">
                                <thead>
                                <tr style="cursor: pointer">
                                    <th ng-repeat="theaditem in tableConfig.theaditems"
                                        ng-click="state.filterAttr= theaditem.attr;state.reverseColumn=theaditem.attr;state.filterReverse=!state.filterReverse;">
                                        {{theaditem.name}}
                                        <i ng-if="state.reverseColumn!= theaditem.attr"
                                           class="fa fa-unsorted"></i>
                                        <i ng-if="state.reverseColumn== theaditem.attr && !state.filterReverse"
                                           class="fa fa-sort-asc"></i>
                                        <i ng-if="state.reverseColumn== theaditem.attr && state.filterReverse"
                                           class="fa fa-sort-desc"></i>
                                    </th>
                                </tr>
                                </thead>

                                <tr ng-repeat="column in tableModel.selectedSrcTable.columns | filter: columnName | orderObjectBy:state.filterAttr:state.filterReverse">
                                    <td style="{{(tableModel.selectedSrcTable.selectedSrcColumn.id == column.id)? 'background-color:#EBF9FE':''}}">
                                        {{ column.id}}
                                    </td>
                                    <td style="{{(tableModel.selectedSrcTable.selectedSrcColumn.id == column.id)? 'background-color:#EBF9FE':''}}">
                                        {{ column.name}}
                                    </td>
                                    <td style="{{(tableModel.selectedSrcTable.selectedSrcColumn.id == column.id)? 'background-color:#EBF9FE':''}}">
                                        {{ column.datatype}}
                                    </td>
                                    <td style="{{(tableModel.selectedSrcTable.selectedSrcColumn.id == column.id)? 'background-color:#EBF9FE':''}}">
                                        <!--{{ tableModel.selectedSrcTable.cardinality[column.name]}}-->
                                        {{column.cardinality}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div ng-if="(tableModel.selectedSrcTable.columns | filter: columnName).length == 0" no-result
                             text="No Matched Table Column."></div>
                        <div ng-if="!!!tableModel.selectedSrcTable.uuid">
                            <div no-result text="No Table Selected."></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div ng-include="'partials/projects/project_create.html'"></div>
