<!DOCTYPE html>
<html lang="en" ng-app="demo">
    <head>
        <meta charset="UTF-8">
        <title>DEMO</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="yes"/>
        <meta name="renderer" content="webkit"/>
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" href="libs/prism.css"/>
        <link rel="stylesheet" type="text/css" href="libs/amazeui.min.css">
        <link rel="stylesheet" type="text/css" href="libs/sweet-alert.css">
        <link rel="stylesheet" type="text/css" href="demo.css">
    </head>
    <body ng-controller="demoController">
        <div class="get">
            <div class="am-g">
                <div class="col-lg-12">
                    <h1 class="get-title">angular-sweetalert</h1>
                    <p>
                    usage
                    </p>
                    <p>
                    <a href="https://github.com/leftstick/angular-sweetalert" class="am-btn am-btn-sm get-btn">Check Github</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="detail">
            <div class="am-g am-container">
                <div class="col-lg-12">
                    <h2 class="detail-h2">Getting Started</h2>
                    <div class="am-g">
                        <div class="col-lg-6 col-md-6 col-sm-12 detail-mb">
                            <h3 class="detail-h3">
                            <i class="am-icon-gavel am-icon-sm"></i>
                            Basic example
                            </h3>
                            <p class="detail-p">
<pre><code class="language-javascript">
demo.controller('demoController', function($scope, sweet) {
    $scope.basic = function() {
        sweet.show('Simple right?');
    };
});
</code></pre>
                            <button ng-click="basic()" type="button" class="am-btn am-btn-warning am-btn-block" >Try it!</button>
                            </p>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-12 detail-mb">
                            <h3 class="detail-h3">
                            <i class="am-icon-navicon am-icon-sm"></i>
                            With title
                            </h3>
                            <p class="detail-p">
<pre><code class="language-javascript">
demo.controller('demoController', function($scope, sweet) {
    $scope.title = function() {
        sweet.show('It\'s title', 'Can you see me?');
    };
});
</code></pre>
                            <button ng-click="title()" type="button" class="am-btn am-btn-warning am-btn-block" >Try it!</button>
                            </p>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 detail-mb">
                            <h3 class="detail-h3">
                            <i class="am-icon-smile-o am-icon-sm"></i>
                            Successful
                            </h3>
                            <p class="detail-p">
<pre><code class="language-javascript">
demo.controller('demoController', function($scope, sweet) {
    $scope.success = function() {
        sweet.show('Amazing', 'You\'ve done it', 'success');
    };
});
</code></pre>
                            <button ng-click="success()" type="button" class="am-btn am-btn-warning am-btn-block" >Try it!</button>
                            </p>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 detail-mb">
                            <h3 class="detail-h3">
                            <i class="am-icon-bolt am-icon-sm"></i>
                            Failure
                            </h3>
                            <p class="detail-p">
<pre><code class="language-javascript">
demo.controller('demoController', function($scope, sweet) {
    $scope.fail = function() {
        sweet.show('Oops...', 'Can\'t believe it\'s you', 'error');
    };
});
</code></pre>
                            <button ng-click="fail()" type="button" class="am-btn am-btn-warning am-btn-block" >Try it!</button>
                            </p>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 detail-mb">
                            <h3 class="detail-h3">
                            <i class="am-icon-question-circle am-icon-sm"></i>
                            Confirm
                            </h3>
                            <p class="detail-p">
<pre><code class="language-javascript">
demo.controller('demoController', function($scope, sweet) {
    $scope.confirm = function() {
        sweet.show({
            title: 'Confirm',
            text: 'Delete this file?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        }, function() {
            sweet.show('Deleted!', 'The file has been deleted.', 'success');
        });
    };
});
</code></pre>
                            <button ng-click="confirm()" type="button" class="am-btn am-btn-warning am-btn-block" >Try it!</button>
                            </p>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 detail-mb">
                            <h3 class="detail-h3">
                            <i class="am-icon-check am-icon-sm"></i>
                            Custom icon
                            </h3>
                            <p class="detail-p">
<pre><code class="language-javascript">
demo.controller('demoController', function($scope, sweet) {
    $scope.custom = function() {
        sweet.show({
            title: 'Success',
            text: 'Congratulations!',
            imageUrl: 'img/cus_suc.png'
        });
    };
});
</code></pre>
                            <button ng-click="custom()" type="button" class="am-btn am-btn-warning am-btn-block" >Try it!</button>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <p>&copy; 2014 Licensed under <a href="http://opensource.org/licenses/MIT" target="_blank">MIT license</a>. by <a href="http://leftstick.github.io/" target="_blank">Howard.Zuo</a>.</p>
        </footer>
        <script src="libs/prism.js"></script>
        <script type="text/javascript" src="libs/sweet-alert.min.js"></script>
        <script type="text/javascript" src="libs/angular.min.js"></script>
        <script type="text/javascript" src="ngSweetAlert.js"></script>
        <script type="text/javascript" src="demo.js"></script>
    </body>
</html>