@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?kgnnxl');
  src:  url('../fonts/icons/icomoon.eot?kgnnxl#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?kgnnxl') format('truetype'),
    url('../fonts/icons/icomoon.woff?kgnnxl') format('woff'),
    url('../fonts/icons/icomoon.svg?kgnnxl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="el-icon-ksd-"], [class*=" el-icon-ksd-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-ksd-exclude:before {
  content: "\e900";
}
.el-icon-ksd-contants:before {
  content: "\e903";
}
.el-icon-ksd-iconback_1414:before {
  content: "\e904";
}
.el-icon-ksd-edit_bg:before {
  content: "\e905";
}
.el-icon-ksd-add_bg:before {
  content: "\e906";
}
.el-icon-ksd-minus_bg:before {
  content: "\e907";
}
.el-icon-ksd-pattern:before {
  content: "\e908";
}
.el-icon-ksd-homepage:before {
  content: "\e909";
}
.el-icon-ksd-lightning:before {
  content: "\e90a";
}
.el-icon-ksd-rules:before {
  content: "\e90b";
}
.el-icon-ksd-zoom_to_default:before {
  content: "\e90c";
}
.el-icon-ksd-complete:before {
  content: "\e90d";
}
.el-icon-ksd-empty-box:before {
  content: "\e90e";
}
.el-icon-ksd-iconcopy-1:before {
  content: "\e90f";
}
.el-icon-ksd-move_down:before {
  content: "\e910";
}
.el-icon-ksd-move_to_top:before {
  content: "\e911";
}
.el-icon-ksd-move_up:before {
  content: "\e912";
}
.el-icon-ksd-sampling:before {
  content: "\e913";
}
.el-icon-ksd-select:before {
  content: "\e914";
}
.el-icon-ksd-lookup-table:before {
  content: "\e915";
}
.el-icon-ksd-accept:before {
  content: "\e916";
}
.el-icon-ksd-Combined_Shape:before {
  content: "\e917";
}
.el-icon-ksd-zoom_out:before {
  content: "\e918";
}
.el-icon-ksd-zoom_in:before {
  content: "\e919";
}
.el-icon-ksd-default_zoom:before {
  content: "\e91a";
}
.el-icon-ksd-paramters:before {
  content: "\e91b";
}
.el-icon-ksd-details:before {
  content: "\e91c";
}
.el-icon-ksd-export:before {
  content: "\e91d";
}
.el-icon-ksd-sad:before {
  content: "\e91e";
}
.el-icon-ksd-icon_build-index:before {
  content: "\e91f";
}
.el-icon-ksd-repair:before {
  content: "\e920";
}
.el-icon-ksd-diff_metadata:before {
  content: "\e921";
}
.el-icon-ksd-model_repetition:before {
  content: "\e922";
}
.el-icon-ksd-table_resure:before {
  content: "\e923";
}
.el-icon-ksd-acclerated:before {
  content: "\e924";
}
.el-icon-ksd-to_accelerated:before {
  content: "\e925";
}
.el-icon-ksd-acclerating:before {
  content: "\e926";
}
.el-icon-ksd-acclerate_portion:before {
  content: "\e927";
}
.el-icon-ksd-check-box:before {
  content: "\e928";
}
.el-icon-ksd-add_2:before {
  content: "\e929";
}
.el-icon-ksd-add_data_source:before {
  content: "\e92a";
}
.el-icon-ksd-add_new_user:before {
  content: "\e92b";
}
.el-icon-ksd-add_table:before {
  content: "\e92c";
}
.el-icon-ksd-add:before {
  content: "\e92d";
}
.el-icon-ksd-alert_1:before {
  content: "\e92e";
}
.el-icon-ksd-alert:before {
  content: "\e92f";
}
.el-icon-ksd-arrow_down:before {
  content: "\e930";
}
.el-icon-ksd-arrow_up_clean:before {
  content: "\e931";
}
.el-icon-ksd-arrow_up:before {
  content: "\e932";
}
.el-icon-ksd-Artboard:before {
  content: "\e933";
}
.el-icon-ksd-auto_computed_column:before {
  content: "\e934";
}
.el-icon-ksd-auto_model_ssistant:before {
  content: "\e935";
}
.el-icon-ksd-auto_modeling2:before {
  content: "\e936";
}
.el-icon-ksd-auto_status_warning:before {
  content: "\e937";
}
.el-icon-ksd-auto_type_hierarchy:before {
  content: "\e938";
}
.el-icon-ksd-auto_type_join:before {
  content: "\e939";
}
.el-icon-ksd-auto_type_mandantory:before {
  content: "\e93a";
}
.el-icon-ksd-auto_wizard:before {
  content: "\e93b";
}
.el-icon-ksd-auto:before {
  content: "\e93c";
}
.el-icon-ksd-az:before {
  content: "\e93d";
}
.el-icon-ksd-back:before {
  content: "\e93e";
}
.el-icon-ksd-backup:before {
  content: "\e93f";
}
.el-icon-ksd-batch:before {
  content: "\e940";
}
.el-icon-ksd-black_list:before {
  content: "\e941";
}
.el-icon-ksd-blank_section:before {
  content: "\e942";
}
.el-icon-ksd-bottom_bar:before {
  content: "\e943";
}
.el-icon-ksd-calendar:before {
  content: "\e944";
}
.el-icon-ksd-card:before {
  content: "\e945";
}
.el-icon-ksd-check:before {
  content: "\e946";
}
.el-icon-ksd-close:before {
  content: "\e947";
}
.el-icon-ksd-collapse_1:before {
  content: "\e948";
}
.el-icon-ksd-collapse_2:before {
  content: "\e949";
}
.el-icon-ksd-computed:before {
  content: "\e94a";
}
.el-icon-ksd-copy:before {
  content: "\e94b";
}
.el-icon-ksd-csv:before {
  content: "\e94c";
}
.el-icon-ksd-cube:before {
  content: "\e94d";
}
.el-icon-ksd-data_range:before {
  content: "\e94e";
}
.el-icon-ksd-data_source_2:before {
  content: "\e94f";
}
.el-icon-ksd-data_source:before {
  content: "\e950";
}
.el-icon-ksd-desc:before {
  content: "\e951";
}
.el-icon-ksd-diagnose:before {
  content: "\e952";
}
.el-icon-ksd-dimension:before {
  content: "\e953";
}
.el-icon-ksd-dm:before {
  content: "\e954";
}
.el-icon-ksd-document:before {
  content: "\e955";
}
.el-icon-ksd-download:before {
  content: "\e956";
}
.el-icon-ksd-drop:before {
  content: "\e957";
}
.el-icon-ksd-elapsed_time:before {
  content: "\e958";
}
.el-icon-ksd-enlarge:before {
  content: "\e959";
}
.el-icon-ksd-error_01:before {
  content: "\e95a";
}
.el-icon-ksd-error_02:before {
  content: "\e95b";
}
.el-icon-ksd-filter:before {
  content: "\e95c";
}
.el-icon-ksd-folder:before {
  content: "\e95d";
}
.el-icon-ksd-full_screen_1:before {
  content: "\e95e";
}
.el-icon-ksd-full_screen_2:before {
  content: "\e95f";
}
.el-icon-ksd-good_health:before {
  content: "\e960";
}
.el-icon-ksd-greenplum:before {
  content: "\e961";
}
.el-icon-ksd-grid_01:before {
  content: "\e962";
}
.el-icon-ksd-grid_02:before {
  content: "\e963";
}
.el-icon-ksd-help:before {
  content: "\e964";
}
.el-icon-ksd-hive:before {
  content: "\e965";
}
.el-icon-ksd-import_sql:before {
  content: "\e966";
}
.el-icon-ksd-insight:before {
  content: "\e967";
}
.el-icon-ksd-job:before {
  content: "\e968";
}
.el-icon-ksd-kafka:before {
  content: "\e969";
}
.el-icon-ksd-list:before {
  content: "\e96a";
}
.el-icon-ksd-load:before {
  content: "\e96b";
}
.el-icon-ksd-loading:before {
  content: "\e96c";
}
.el-icon-ksd-lock:before {
  content: "\e96d";
}
.el-icon-ksd-login_email:before {
  content: "\e96e";
}
.el-icon-ksd-login_intro:before {
  content: "\e96f";
}
.el-icon-ksd-login_manual:before {
  content: "\e970";
}
.el-icon-ksd-lookup_table:before {
  content: "\e971";
}
.el-icon-ksd-measure:before {
  content: "\e972";
}
.el-icon-ksd-merge:before {
  content: "\e973";
}
.el-icon-ksd-message:before {
  content: "\e974";
}
.el-icon-ksd-minus:before {
  content: "\e975";
}
.el-icon-ksd-mode_chart:before {
  content: "\e976";
}
.el-icon-ksd-model:before {
  content: "\e977";
}
.el-icon-ksd-monitor:before {
  content: "\e978";
}
.el-icon-ksd-more_01-copy:before {
  content: "\e979";
}
.el-icon-ksd-more_01:before {
  content: "\e97a";
}
.el-icon-ksd-more_02:before {
  content: "\e97b";
}
.el-icon-ksd-more_03:before {
  content: "\e97c";
}
.el-icon-ksd-more_04:before {
  content: "\e97d";
}
.el-icon-ksd-more_05:before {
  content: "\e97e";
}
.el-icon-ksd-mysql:before {
  content: "\e97f";
}
.el-icon-ksd-negative:before {
  content: "\e980";
}
.el-icon-ksd-ostin_diagnose:before {
  content: "\e981";
}
.el-icon-ksd-overview:before {
  content: "\e982";
}
.el-icon-ksd-pause:before {
  content: "\e983";
}
.el-icon-ksd-progress:before {
  content: "\e984";
}
.el-icon-ksd-project_add:before {
  content: "\e985";
}
.el-icon-ksd-project_list:before {
  content: "\e986";
}
.el-icon-ksd-project_status:before {
  content: "\e987";
}
.el-icon-ksd-project:before {
  content: "\e988";
}
.el-icon-ksd-query_add:before {
  content: "\e989";
}
.el-icon-ksd-query_import:before {
  content: "\e98a";
}
.el-icon-ksd-record:before {
  content: "\e98b";
}
.el-icon-ksd-right:before {
  content: "\e98c";
}
.el-icon-ksd-sample:before {
  content: "\e98d";
}
.el-icon-ksd-search_engine:before {
  content: "\e98e";
}
.el-icon-ksd-search:before {
  content: "\e98f";
}
.el-icon-ksd-security:before {
  content: "\e990";
}
.el-icon-ksd-setting:before {
  content: "\e991";
}
.el-icon-ksd-shrink:before {
  content: "\e992";
}
.el-icon-ksd-sql:before {
  content: "\e993";
}
.el-icon-ksd-sqlserver:before {
  content: "\e994";
}
.el-icon-ksd-status:before {
  content: "\e995";
}
.el-icon-ksd-studio:before {
  content: "\e996";
}
.el-icon-ksd-symbol_a:before {
  content: "\e997";
}
.el-icon-ksd-symbol_fk:before {
  content: "\e998";
}
.el-icon-ksd-symbol_pk:before {
  content: "\e999";
}
.el-icon-ksd-symbol_s:before {
  content: "\e99a";
}
.el-icon-ksd-symbol_type:before {
  content: "\e99b";
}
.el-icon-ksd-sync:before {
  content: "\e99c";
}
.el-icon-ksd-system:before {
  content: "\e99d";
}
.el-icon-ksd-table_admin:before {
  content: "\e99f";
}
.el-icon-ksd-table_assign:before {
  content: "\e9a0";
}
.el-icon-ksd-table_delete:before {
  content: "\e9a1";
}
.el-icon-ksd-table_discard:before {
  content: "\e9a2";
}
.el-icon-ksd-table_edit:before {
  content: "\e9a3";
}
.el-icon-ksd-table_group:before {
  content: "\e9a4";
}
.el-icon-ksd-table_others:before {
  content: "\e9a5";
}
.el-icon-ksd-table_reset_password:before {
  content: "\e9a6";
}
.el-icon-ksd-remove_source:before {
  content: "\e9a7";
}
.el-icon-ksd-table_save:before {
  content: "\e9a8";
}
.el-icon-ksd-table_viewer:before {
  content: "\e9a9";
}
.el-icon-ksd-total_query_statistics:before {
  content: "\e9aa";
}
.el-icon-ksd-unload:before {
  content: "\e9ab";
}
.el-icon-ksd-unlock:before {
  content: "\e9ac";
}
.el-icon-ksd-user:before {
  content: "\e9ad";
}
.el-icon-ksd-fix_tool:before {
  content: "\e9ae";
}
.el-icon-ksd-white_list:before {
  content: "\e9af";
}
.el-icon-ksd-table_refresh:before {
  content: "\e9b0";
}
.el-icon-ksd-computed_column:before {
  content: "\e9b1";
}
.el-icon-ksd-switch:before {
  content: "\e9b2";
}
.el-icon-ksd-expert_mode:before {
  content: "\e9b3";
}
.el-icon-ksd-smart_mode:before {
  content: "\e9b4";
}
.el-icon-ksd-table_setting:before {
  content: "\e9b5";
}
.el-icon-ksd-data_range_search:before {
  content: "\e9b6";
}
.el-icon-ksd-dock_to_right:before {
  content: "\e9b7";
}
.el-icon-ksd-dock_to_right_return:before {
  content: "\e9b8";
}
.el-icon-ksd-index_handy:before {
  content: "\e9b9";
}
.el-icon-ksd-index_auto:before {
  content: "\e9ba";
}
.el-icon-ksd-batch_check:before {
  content: "\e9bb";
}
.el-icon-ksd-batch_delete:before {
  content: "\e9bc";
}
.el-icon-ksd-batch_uncheck:before {
  content: "\e9bd";
}
.el-icon-ksd-admin_collapse:before {
  content: "\e9be";
}
.el-icon-ksd-type_bigint:before {
  content: "\e9bf";
}
.el-icon-ksd-type_boolean:before {
  content: "\e9c0";
}
.el-icon-ksd-type_date:before {
  content: "\e9c1";
}
.el-icon-ksd-type_decimal:before {
  content: "\e9c2";
}
.el-icon-ksd-type_double:before {
  content: "\e9c3";
}
.el-icon-ksd-type_float:before {
  content: "\e9c4";
}
.el-icon-ksd-type_int:before {
  content: "\e9c5";
}
.el-icon-ksd-type_interval_day_to_seconds:before {
  content: "\e9c6";
}
.el-icon-ksd-type_interval_years_to_months:before {
  content: "\e9c7";
}
.el-icon-ksd-type_list:before {
  content: "\e9c8";
}
.el-icon-ksd-type_map:before {
  content: "\e9c9";
}
.el-icon-ksd-type_time:before {
  content: "\e9ca";
}
.el-icon-ksd-type_timestamp:before {
  content: "\e9cb";
}
.el-icon-ksd-type_varbinary:before {
  content: "\e9cc";
}
.el-icon-ksd-type_varchar:before {
  content: "\e9cd";
}
.el-icon-ksd-keyboard:before {
  content: "\e9ce";
}
.el-icon-ksd-admin_extend:before {
  content: "\e9cf";
}
.el-icon-ksd-table_resume:before {
  content: "\e9d0";
}
.el-icon-ksd-edit_role:before {
  content: "\e9d1";
}
.el-icon-ksd-restart:before {
  content: "\e9d2";
}
.el-icon-ksd-expert_mode_small:before {
  content: "\e9d3";
}
.el-icon-ksd-smart_mode_small:before {
  content: "\e9d4";
}
.el-icon-ksd-joint_condition:before {
  content: "\e9d5";
}
.el-icon-ksd-pause_02:before {
  content: "\e9d6";
}
.el-icon-ksd-what:before {
  content: "\e9d7";
}
.el-icon-ksd-fkpk_big:before {
  content: "\e9d8";
}
.el-icon-ksd-clear:before {
  content: "\e9d9";
}
.el-icon-ksd-go:before {
  content: "\e9da";
}
.el-icon-ksd-broken_disconnect:before {
  content: "\e9db";
}
.el-icon-ksd-info:before {
  content: "\e9dc";
}
.el-icon-ksd-fact_table:before {
  content: "\e9dd";
}
