<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div class="tree-border">
    <div class="row">
        <div class="col-xs-7">
            <h3 class="text-info">Models</h3>
        </div>

        <!--button-->
        <div class="col-xs-5" style="padding-left: 0px;margin-top: 20px;">
            <div class="pull-right">
                <a class="btn btn-xs btn-primary" href='models/add' tooltip="Create Model"  ng-if="userService.hasRole('ROLE_MODELER')"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    <!--<div class="space-4 box-header with-border"></div>-->
    <!--tree-->
    <div style="width:100%; height:{{window}}px; overflow:auto;">
        <abn-tree
                tree-data         = "modelsManager.modelTreeData"
                tree-control      = "my_tree"
                icon-leaf         = "fa fa-cubes"
                icon-expand       = "fa fa-star"
                icon-collapse     = "fa fa-star-o"
                expand-level      = "2"
                initial-selection = "">
            </abn-tree>
        <div ng-if="modelsManager.loading==true||tableModel.loading==true"><i class="fa fa-2x fa-spinner fa-spin"></i> Loading..</div>
        <div no-result ng-if="modelsManager.loading==false&&tableModel.loading==false&&modelsManager.modelTreeData.length==0"></div>

    </div>
</div>
