<div class="col-xs-3">
    <h4>{{ availableLabel }} ({{ available.length }})</h4>
    <ul class="list-unstyled">
        <li ng-repeat="entity in available">
        <label class="checkbox" title="{{ renderTitle(entity) }}">
            <input type="checkbox" ng-model="selected.available[$index].selected"> {{ renderItem(entity) }}</label>
        </li>
    </ul>
</div>
<div class="col-xs-1">
    <div class="space-32"></div>
    <button type="button" class="btn btn-default btn-sm"
            ng-disabled="!selected(selected.available).length" ng-click="add()">
        <i class="ace-icon fa fa-arrow-right"></i>
    </button>
    <div class="space-32"></div>
    <button type="button" class="btn btn-default btn-sm"
            ng-disabled="!selected(selected.current).length" ng-click="remove()">
        <i class="ace-icon fa fa-arrow-left"></i>
    </button>
    <input type="number" name="numSelected" ng-model="numSelected" style="display: none">
</div>
<div class="col-xs-3">
    <h4>{{ selectedLabel }} ({{ model.length }})</h4>
    <ul class="list-unstyled">
        <li ng-repeat="entity in model">
            <label class="checkbox" title="{{ renderTitle(entity) }}">
                <input type="checkbox" ng-model="selected.current[$index].selected"> {{ renderItem(entity) }}
            </label>
        </li>
    </ul>
</div>