<div style="margin: 5px 0;width: 100%" ng-if="data">
    <button ng-if="hasMore" class="btn btn-primary btn-sm btn-block" ng-click="showMore()" ng-disabled="!loaded">
        <i class="icon-plus icon-white"></i> <span>{{ loaded ? 'More' : 'Loading...' }}</span>
    </button>
    <div class="clearfix" style="margin: 5px"></div>
    <div class="pull-left" style="padding-right: 3%">
        <span class="pull-left font-color-default" style="font-size: 15px"><strong>Total: {{getLength(data)}}</strong></span>
    </div>
</div>
